[2014-04-26 02:48] andrewdavidsmith opened #1 "Validation of methpipe methylation file format."
The code the tests if a file is a methpipe format methylation file does not validate robustly. The validation should involve reading a line, and testing it in the same way as arguments are tested in OptionParser from smithlab_cpp

[2014-04-27 17:01] andrewdavidsmith opened #2 "Purpose of the amr_dev branch?"
Is there a reason this branch is hanging around? Somehow I got using it by accident, and messed a bunch of things up (mostly for myself).

[2014-04-27 22:29] #1 closed, assigned to nobody

[2014-05-01 00:18] #2 closed, assigned to bdecato

[2014-05-01 22:20] mengzhou opened #3 "samtools submodule in ./src"
The samtools library is required for to-mr. However the latest samtools version (0.1.19) cannot be compiled successfully with some error like this:
https://github.com/genome/bam-readcount/issues/1

I'm not sure what to do and for now I include samtools 0.1.18 in the MethPipe release 3.1.0 to make sure it can compile.

[2014-05-07 00:22] mengzhou opened #4 "/bin accidentally added?"
I don't think binaries are needed...

[2014-05-07 01:38] #4 closed, assigned to bdecato

[2014-05-07 19:14] #3 closed, assigned to nobody

[2014-05-08 01:29] songqiang opened #5 "remove build_methylome.py and run_clipmates.py in src/pipeline?"
These programs seems long deprecated. Should we remove them?

[2014-05-11 00:28] #5 closed, assigned to nobody

[2014-05-11 19:15] andrewdavidsmith opened #6 "The way reads are processed should change..."
In the current implementation, there is a buffer maintained of all reads that could contribute to a particular CpG site. The sites are processed one at a time. A better way moving forward will be to process each read one at a time, and maintain the entire chromosome. This will be very much like what happens in the bsrate code. Doing this will also make the code simpler, and make it easier to compu

[2014-05-13 14:59] andrewdavidsmith opened #7 "Extra information provided by methcounts"
Does anyone think it would be useful to print out, for each chromosome, the number of CpG or cytosine sites identified in the chromosomes? Or simpler, maybe for the entire file? This can be extracted from the final output, but having it presented to the user might be a simple way to avoid confusion about certain things.

[2014-05-15 22:39] bdecato opened #8 "allelicmeth: mirroring methcounts and bsrate"
methcounts will soon be updated to mirror bsrate's mechanism of keeping running tabulations of an entire chromosome's methylation counts and then computing all methylation levels when all the reads for that chromosome have been processed.

allelicmeth could benefit from this structure as well: instead of keeping tabulations of a chromosome's methylation counts, it could keep track of the 2-CpG met

[2014-05-16 18:59] bdecato opened #9 "methdiff output format"
methdiff's output format mirrors the old version of methcounts' output format of:

chr pos pos+1 context:#meth:cov methylation_level strand

methdiff's output is as follows:

chr pos pos+1 context:0:1:2:3 score strand

Where 0,1,2,3 are the methylated reads and total coverage for each of the two samples being compared.  Is there a way to update this output format cleanly to remove the useless 2nd

[2014-05-16 19:30] bdecato opened #10 "hmr_plant namechange"
I think hmr_plant should be renamed hypermr or similar: it is no longer used for only plants. A new use for it is to find regions of unusually high hydroxymethylation, which occurs in mammalian cells, and which I recently included as an example of hmr_plant's use in the manual.

[2014-05-17 20:00] andrewdavidsmith opened #11 "allelicmeth needs to be moved back to "analysis""
Sorry Ben -- this existed long before amrfinder and should not be associated with that stuff.

[2014-05-24 03:07] andrewdavidsmith opened #13 "amrfinder duplicated?"
Why is amrfinder in its own directory, but also in the analysis directory?

[2014-05-25 22:22] andrewdavidsmith opened #14 "Some bad code in amrfinder"
The code to prevent problems when no amrs are identified is not good:

if (amrs.size() == 0) {
     cout << "No AMRs found.\n";
     return 0;
}

This prints a message to cout no matter what, and deviates from our common way of only having the program exit at the bottom of main, unless it has to do with an error (return code not zero) or in parsing options.

[2014-05-26 17:39] #13 closed, assigned to nobody

[2014-05-26 18:01] #14 closed, assigned to nobody

[2014-05-26 18:24] #10 closed, assigned to nobody

[2014-05-26 18:24] #11 closed, assigned to bdecato

[2014-06-09 18:42] bdecato opened #15 "Undocumented programs"
There exists a nontrivial set of programs included (and most of the time compiled) in MethPipe that are not documented in the manual.  This list includes:

dmr-hdhmm
fastLiftOver
methentropy
clipmates
reorder (included but not compiled)

I think the last two have been deprecated, and can be removed entirely.  What should we do about the other three?

[2014-06-10 17:07] timydaley opened #16 "problem linking in samtools with Mavericks (Mac OSX 10.9+)"
g++ -Wall -fmessage-length=50 -O2 -arch x86_64 -stdlib=libstdc++ -o to-mr to-mr.cpp /Users/timothydaley/methpipe-master/src/smithlab_cpp/smithlab_os.o /Users/timothydaley/methpipe-master/src/smithlab_cpp/smithlab_utils.o /Users/timothydaley/methpipe-master/src/smithlab_cpp/GenomicRegion.o /Users/timothydaley/methpipe-master/src/smithlab_cpp/OptionParser.o /Users/timothydaley/methpipe-master/src/sm

[2014-06-11 17:09] pjuren opened #17 "Unused variables warning when compiling on MacOS X Mavericks"
I get the following unused variable warnings when I compile:

[code]

---

steps to recreate:

[2014-06-11 18:14] #16 closed, assigned to nobody

[2014-06-11 21:40] #17 closed, assigned to mengzhou

[2014-06-14 22:21] #15 closed, assigned to nobody

[2014-06-15 16:34] andrewdavidsmith opened #18 "Reporting coverage biases"
We need to have some kind of utility that reports coverage biases. Anyone have any thoughts on this? Should the program just process methcounts output? By "coverage bias" I mean an indication of how correlated (positive or negative) is the coverage with CpG density.

[2014-06-15 17:48] andrewdavidsmith opened #19 "The levels program and non-CpG methylation"
Does anyone think the levels program should be modified to behave differently or produce more information for the non-CpG methylation?

[2014-06-15 22:22] andrewdavidsmith opened #20 "PDF for the manual??"
Does anyone agree with me that having a PDF of the manual kept in the repo is a good idea? It would be consistent with the idea of having the releases always include a PDF of the manual.

[2014-06-16 16:32] #20 closed, assigned to nobody

[2014-06-16 17:42] andrewdavidsmith opened #22 "The world's worst"
@egor-dolzhenko has the world's worst avatar.

[2014-06-16 20:12] #22 closed, assigned to egor-dolzhenko

[2014-06-19 21:08] mengzhou opened #23 "Adding new allelicmeth to amrfinder"
Add `adssrcpre-methpipe/allelicmeth2` to `/src/amrfinder`.

[2014-06-19 21:15] mengzhou opened #24 "Integrate `RADmeth`"
Put all DMR related stuff including `RADmeth` itself into a independent subdirectory like `amrfinder` and `mlml`. Maybe add as submodule like `smithlab_cpp`?

[2014-06-23 18:49] bdecato opened #25 "Reference methylomes with merge-methcounts"
Eventually, we'd like to modify merge-methcounts to also calculate the weighted sample variance at each CpG site and produce an overlaid color track for UCSC that shows the mean methylation level of the composite as well as upper and lower bounds on the variance.

[2014-06-27 05:07] songqiang opened #26 "master branch does not compile"
I just checked out a copy of the master branch of methpipe, but it does not compile.

To reproduce the bug:

   git clone https://github.com/smithlabcode/methpipe.git
   cd methpipe
   make install

I noticed the recent change of smithlab_cpp from subtree to submodule. Not sure if it is the cause.

[2014-06-27 05:21] #26 closed, assigned to nobody

[2014-07-02 04:36] #9 closed, assigned to songqiang

[2014-07-04 17:37] bdecato opened #27 "dmr-hdhmm"
We recently got an email asking about the output of dmr-hdhmm.   This program is included in our "experimental" section but there is no documentation for it in the manual.

[2014-07-11 00:41] #27 closed, assigned to nobody

[2014-07-11 00:42] #23 closed, assigned to nobody

[2014-07-11 00:43] #8 closed, assigned to nobody

[2014-07-12 21:22] mengzhou opened #28 "Potential precision bug for roundf()"
This line in one .meth file won't pass the assertion `assert(n_meth + n_unmeth == total)` in `pmd` and some other programs are also affected.

It was caused by roundf function which is used to compute n_meth and n_unmeth:

[code]

In this case n_meth = roundf(664049.5209080001) = 664059, correct;
n_unmeth = roundf(532427.4790919999) = 532428, WRONG.

I'm not sure how to fix this bug.

[2014-07-14 23:54] #28 closed, assigned to xjlizji

[2014-07-16 20:37] bdecato opened #29 "Failing silently on wrong input"
The epiread input stream operator needs to be modified so that the programs that take epireads as input (amr\* and allelicmeth) do not fail silently when mapped reads are mistakenly given as input.  I will do this sometime soon, this is a reminder!

[2014-07-24 00:14] #25 closed, assigned to nobody

[2014-07-24 00:15] #19 closed, assigned to nobody

[2014-07-24 00:18] #6 closed, assigned to nobody

[2014-07-28 19:14] #7 closed, assigned to egor-dolzhenko

[2014-07-29 01:10] xjlizji opened #31 "methylation level of all Cs in the level output"
Now we have methylation levels in 4 different specific contexts but I think the methylation level of all Cs is still required for plant genomes.
Meng said that he would get this closing issue point.

[2014-07-29 01:17] #31 closed, assigned to mengzhou

[2014-07-29 18:22] mengzhou opened #32 "New tool needed for new methcounts output"
We have updated `methcounts`, and now it generates information for all cytosines on both strands in the genome. A new tool is needed to extract certain context from this new file format and merge symmetric sites such as CpGs. I think it's basically converting the new format to the old when extracting CpGs. Just need to pay attention to mutated sites when one of the two CpGs is mutated.

[2014-07-29 18:29] andrewdavidsmith opened #33 "read_site in MethpipeFiles"
I think the functions for reading sites from a stream should return the stream, rather than just a bool. This would be similar to how getline works. I suggest @lizji1992 look into this.

[2014-07-29 21:40] #33 closed, assigned to xjlizji

[2014-07-29 22:23] jqujqu opened #34 "Need to modify run-fastLiftOver.sh"
We need to change the script that processes *fastLiftOver* output, to adapt to the new *methcount* output format, and to offer choices of conservative liftover and liberal liftover.

Here are some requirements for the script.
- Conservative version:
  - Only allow 1-1 mapping.
     - If symmetric CpG methylation statistics are merged into one CpG record on the + strand in the source *methcount* fi

[2014-07-30 22:54] bdecato opened #35 "hacky code in amrfinder/allelicmeth??"
The below code snippet exists in the convert_coordinates functions of amrfinder and allelicmeth (which should probably be consolidated, but that's another conversation):

[code]

What I see here is "if this exception is not a chromosome-related exception, don't propogate it up the stack and continue on this level."  Isn't this sort of conditional exception-handling bad practice ( @andrewdavidsmith

[2014-07-30 23:09] #35 closed, assigned to nobody

[2014-07-30 23:19] #29 closed, assigned to bdecato

[2014-07-30 23:48] bdecato opened #37 "Nondeterministic behavior of `hmr`"
Currently different runs of `hmr` produce slight differences in the number of HMRs due to differences in the false discovery rate.  The FDR is calculated using randomly selected regions, selected by a RNG seeded with the time+pid.

One way to make `hmr` optionally deterministic is to include the seed in the params-out file. Then whenever a user needs to train the HMM on those parameters, it also u

[2014-08-01 16:29] bdecato opened #38 "Black box description of `pmd` in the manual"
`pmd` needs a more precise explanation of how it works and particularly how it differs from `hmr`.

[2014-08-03 00:57] andrewdavidsmith opened #39 "Add symmetric-cpg to the manual"
The program is now in utils, and has been tested. It need to be included in the manual. There are only two ways to run it: allowing it to print the mutated sites, and not allowing it.

[2014-08-03 15:49] andrewdavidsmith opened #40 "Header in merge-methcounts"
I just noticed that whomever created this program copied it from bsrate and left the header in place. This needs to be fixed.

[2014-08-03 15:56] #38 closed, assigned to jqujqu

[2014-08-03 23:00] #40 closed, assigned to nobody

[2014-08-04 01:25] mengzhou opened #41 "Missing biorep"
This program (a bash script?) is mentioned in the manual, but I couldn't find it. It says it is a script used for merging libraries of the same biological replicate. For now I commented out the part in the manual. Do we need to bring it back?

[2014-08-04 01:28] #39 closed, assigned to nobody

[2014-08-04 20:58] #32 closed, assigned to andrewdavidsmith

[2014-08-04 21:09] #41 closed, assigned to nobody

[2014-08-04 22:08] #24 closed, assigned to egor-dolzhenko

[2014-08-04 22:44] egor-dolzhenko opened #42 "Should SMITHLAB_CPP always point to the local smithlab_cpp/ ?"
Would it be safer for the variable `SMITHLAB_CPP` in make files to always store the path `$(METHPIPE_ROOT)/src/smithlab_cpp/`?

It seems plausible that in some situations different versions of MethPipe would be installed side-by-side (e.g. development and release) and would require different versions of `smithlab_cpp`. Plus, a meaningful error message can be easily produced if the user forgot to c

[2014-08-05 14:03] andrewdavidsmith opened #43 "PMD bug when curY comes before chr1"
I assumed we had fixed all bugs dealing with chromosome order, but apparently Kei Fuku found one, reported on the methpipe mailing list. This likely also impacts the hmr program. I suppose there is insufficient order checking when CpG sites are loaded.

[2014-08-05 18:42] mengzhou opened #44 "A new pipeline script for automated buildling library and merging replicates"
@andrewdavidsmith suggested that we only need one script to do the job instead of having `library` and `biorep`. My opinion is that we write a python script which requires only mapped read files and experiment setup, including library and replicate information, and it does everything else.

But `amrfinder` will be a problem because it requires much more resources than other tools, and it might inv

[2014-08-05 20:01] #43 closed, assigned to nobody

[2014-08-11 00:57] andrewdavidsmith opened #45 "Moving roimethstat2 into methpipe"
I wrote a version of roimethstat that does binary search on disk in the methcounts output files. This will be fairly important for the larger methpipe files, but it does not yet include anything to distinguish the different "contexts" for methylation.

What are people's thoughts on moving this into methpipe?

[2014-08-11 17:41] jqujqu opened #46 "allelicmeth"
It seems that the new allelicmeth takes epireads as input, and no longer uses mapped reads. The manual hasn't been changed yet.

Also, I'm having trouble using it.
Error message below:

[code]

[2014-08-11 22:25] #46 closed, assigned to nobody

[2014-08-11 22:29] jqujqu opened #47 "Manual needs changing for allelicmeth"
The description and example for allelicmeth is still for the old version when mapped reads were used as input.

[2014-08-11 23:43] andrewdavidsmith opened #48 "Import of programs from pre-methpipe"
Can people tell me which of the programs in pre-methpipe have already been fully imported into methpipe so I can remove them from my repo?

[2014-08-21 19:10] bdecato opened #49 "Bug in bsrate"
I got the error below running bsrate on a public dataset I am analyzing.  It is possible to have a read that maps to the very end of the chromosome with indels making up the last few basepairs of the chromosome, so is this the best assertion to have?  Or should we have trimmed this read prior to using bsrate?  The input file is post-duplicate-remover.

bsrate: bsrate.cpp:69: void count_states_pos(

[2014-08-21 20:43] #49 closed, assigned to nobody

[2014-08-25 16:41] #47 closed, assigned to nobody

[2014-09-08 21:15] bdecato opened #50 "merge-methcounts cannot handle multiple types of methcounts formats"
merge-methcounts defines methcounts format by run, not by input file, so when a user tries to merge old and new versions of methcounts the program crashes.

[2014-09-14 22:34] mengzhou opened #51 "fastLiftOver2 is not working"
I wanted to do lift over from mm9 to mm10, but it seems the new `fastLiftOver2` program is not working. All CpGs are treated as unconverted.

Also the script `run-fastLiftOver2.sh` is not working. I'm 80% sure [this line](https://github.com/smithlabcode/methpipe/blob/master/src/pipeline/run-fastLiftOver2.sh#L28) is not using a valid quotation mark.

@jqujqu

[2014-09-15 00:00] #51 closed, assigned to jqujqu

[2014-09-28 17:42] saketkc opened #52 "methpipe on homebrew"
Homebrew is a custom package manager for Linux/MacOS [1,2]

The dependencies are handled 'automagically'!
I didn't have gsl installed as well, so created a science[3] recipe for methpipe: https://github.com/Homebrew/homebrew-science/pull/1207

If it gets merged, installing methpipe becomes as easy as:
`brew install methpipe`

[1] https://github.com/Homebrew/homebrew
[2] https://github.com/Homebrew

[2014-09-30 18:31] #42 closed, assigned to nobody

[2014-10-01 02:41] #52 closed, assigned to nobody

[2014-10-25 04:34] mengzhou opened #53 "Add back support for single FASTA file as reference"
Now only multiple FASTA by individual chromosomes is supported. I think the function is already there (`identify_and_read_chromosomes`).

[2014-10-30 21:14] mengzhou opened #54 "one of duplicate-remover stats is missing"
https://github.com/smithlabcode/methpipe/blob/master/src/utils/duplicate-remover.cpp#L217
https://github.com/smithlabcode/methpipe/blob/master/src/utils/duplicate-remover.cpp#L237
`good_bases_out` is not counted when using sequence information. I'm not sure if this is intended.

[2014-10-30 22:35] #54 closed, assigned to bdecato

[2014-11-21 23:37] mengzhou opened #55 "manual fix"
on page 5 about `bsrate`, the file name in the instruction example does not correctly indicate that one should use the .mr file after removing duplicates.

[2014-12-03 04:49] andrewdavidsmith opened #56 "fastLiftOver vs. fastLiftOver2"
Why are these both in the repo? I think this will just confuse users.

And why do the names of the programs deviate from our usual naming scheme?

[2014-12-03 18:59] andrewdavidsmith opened #57 "No example of file formats in manual"
I tried to look for an example of file formats for methcounts output and also for methdiff, but couldn't find any in the manual.

[2014-12-03 20:37] #57 closed, assigned to nobody

[2014-12-08 19:43] #55 closed, assigned to nobody

[2014-12-09 02:24] mengzhou opened #58 "add bissnp support for to-mr"
Need to check the output format of bissnp. According to user feedback it looks like bissnp reorders SAM tags.

[2014-12-10 21:39] jqujqu opened #59 "levels with input in bed format"
wrong output stats

[2014-12-10 21:43] #59 closed, assigned to nobody

[2014-12-10 23:49] bdecato opened #60 "silent termination on output file creation failure"
Some of our programs silently terminate when creating an output file fails.

We should identify the best way to check if the ofstream is working properly (ideally early in the program to prevent wasted time) and make sure it is applied to every program (if it is big enough, smithlab_cpp function to prevent copied code?).

[2015-03-01 23:35] andrewdavidsmith opened #61 "The code for levels"
The main() function is too monolithic. It is nearly unreadable. C++ allows for the use of functions, and the main() should make use of functions.

[2015-03-07 19:16] andrewdavidsmith opened #62 "Faster version of roimethstat that does not load entire methcounts file"
I wrote a version of roimethstat (currently in my adssrc repo) that does not need to load the entire methcounts output file, but instead searches for the appropriate range of CpG sites to load. It is much faster in most of the cases have encountered, but probably not, for example, if you are doing a million regions.

This should be tested by someone other than me, and then it can replace the curre

[2015-03-17 04:51] acgtun opened #63 "the first read problem"
I got a sam file which is bsmap's result. The first mapping result is as following:
SRR1532539.1    272     chr9_gl000199_random    105295  255     90M     *       0       0       CCTCAAAACACTCCAAATATCCACTTCCAAATAATACAAAAAAAATATTTCAAACCTACTCTATAAAAAAAAATATTCAACTCTATAACT      BBB^bb]`WKTGG_]_ZRYKTRZGTGGGb_]Rb_ZUFc[`edge\H[baSgf_ca^IXXIII[hhhhhhhgc`K_^`accac`cccc^_Z

However, to-mr gave the followin

[2015-03-17 05:09] mengzhou commented on #63
I canceled the support for bsmap in to-mr, because it seems to have wrong
SAM flag settings. Can you send a path to the SAM file?

Best regards,
Meng

On Mon, Mar 16, 2015 at 9:51 PM, Haifeng Chen <notifications@github.com>
wrote:

[2015-03-17 05:11] acgtun commented on #63
Here it is. Thanks.
/home/rcf-40/haifengc/panfs/bsm_test/bsmap/SRX666252/mpoutsamSRR1532539_1.fastq.sam

[2015-03-17 05:13] acgtun commented on #63
/home/rcf-40/haifengc/panfs/bsm_test/bsmap/SRX666252/mpoutsam/SRR1532539_1.fastq.sam

[2015-03-17 05:56] mengzhou commented on #63
The chromosome is NULL because that read was flagged as secondary alignment. In to-mr codes, if the read is secondary alignment, the program won't load anything. But this empty read was still printed.

For now just use samtools to filter out secondary alignment prior to running to-mr, because usually you do not need secondary mapping result. You can use the following command:
samtools view -h -S -

[2015-03-18 23:15] acgtun commented on #63
Hi, Meng,

Thanks a lot. I tried this way, but I got the same error.

I changed the first read by hand, so don't worry about this issue.

Best,
Haifeng

[2015-03-19 04:43] acgtun opened #64 "bsrate"
When I ran bsrate, one of the mapping results is following, but bsrate says there isn't chr1.

chr1	10019	10109	SRR1532538.162580060	0	+	AATTTTAATTTTAATTTTAATTTTAATTTTAATTTTAATTTTAATTTTAATTTTAATTTTAATTTTAATTTTAATTTTAATTTTAATTTA	___ceeeecgggcghhhhe^hhghhghhhhhfhhhhhhhhhhhefehhhhfhhbbcgghgfffghhhggfff`cgggdhfhdegggfdg`
could not find chrom: chr1

The mapping result is huge, 159Gb

[2015-03-19 16:11] mengzhou commented on #64
Can you paste your command? Did you use -c for a directory containing
multiple chrN.fa files or -c to one .fa file which has multiple chromosomes?

Best regards,
Meng

On Wed, Mar 18, 2015 at 9:43 PM, Haifeng Chen <notifications@github.com>
wrote:

[2015-03-19 16:20] acgtun commented on #64
Hi, Meng,

Yes, I used -c option in the command. All commands are executed in this directory.
/home/rcf-40/haifengc/panfs/bsm_test/bsmap/SRX666252
---------------------------------------------------------------------------------------------
bsrate -c ~/panfs/hg19_all.fa -o mp_merge.bsrate mp_merge.mr.dremove

methcounts -c ~/panfs/hg19_all.fa -o mp_merge.meth mp_merge.mr.dremove

levels -o mp_merg

[2015-03-19 16:22] mengzhou commented on #64
I think Saket has fixed this error. Can you update your methpipe and try
agian?

Best regards,
Meng

On Thu, Mar 19, 2015 at 9:20 AM, Haifeng Chen <notifications@github.com>
wrote:

[2015-03-19 16:29] saketkc commented on #64
Was fixed in 9b3e90857aabfe644e9cc2fb211cf5533303adf7

[2015-03-19 16:31] acgtun commented on #64
Thanks Meng and Saket. I downloaded the latest one. It was fixed. Thanks a lot.

[2015-03-19 16:38] #64 closed

[2015-03-26 23:28] acgtun commented on #63
Hi, Meng,

The number of mismatch is set to 0 after transferring sam file to mr file? Is that correct?. Thanks.

Best,
Haifeng

[2015-06-30 17:27] bdecato opened #69 "amrfinder unintended behavior"
amrfinder works by attempting to partition reads into two distinct sets, one primarily unmethylated and one primarily methylated.  the likelihood of this partitioned set is compared with the likelihood of the single-set to determine a region's allelic state.

With higher-coverage datasets, it becomes easier to partition the reads into two distinct sets due to the inherent randomness of methylation

[2015-07-15 18:48] cviner opened #70 "Support for BWA-meth"
It would be great if [to-mr](https://github.com/smithlabcode/methpipe/blob/master/src/utils/to-mr.cpp) could be enhanced to also support [bwa-meth](https://github.com/brentp/bwa-meth).

[2015-07-15 19:12] cviner commented on #70
Unless perhaps ```-m general``` is expected to work in this case (I assumed not, since there seemed to be a fair amount of [mapper-specific parsing](https://github.com/smithlabcode/smithlab_cpp/blob/master/SAM.cpp#L266) being done for methylation-sensitive aligners and expect bwa-meth support to have similarities to Bismark)?

[2015-07-15 20:55] andrewdavidsmith commented on #70
Thanks for the suggestion. It is extremely difficult to support each mapper, because they often do not accurately document how they do things. But this is something we will consider.

On Jul 15, 2015, at 12:12 PM, Coby Viner <notifications@github.com> wrote:

[2015-07-15 21:16] cviner commented on #70
Thank you for considering it and for such a rapid reply. I can certainly understand it being challenging to do so. In some of my tests, I have observed that bwa-meth to often performs better than Bismark and usually runs in a fraction of its time and space complexity, so I prefer it.

Regardless, thanks for this great software, and in particular MLML—I am finding it immensely useful!

[2015-07-18 23:22] cviner opened #71 "to-mr output sort-order can differ from sorted input BAM order and from that required by duplicate-remover"
```to-mr``` outputs data in a sort-order distinct from that required by ```duplicate-remover```, even when provided with a position-sorted BAM file as input. This prevents one from taking advantage of sorted input files, since it becomes necessary to always sort ```to-mr``` output, prior to input into ```duplicate-remover``` (per the instructions provided in Section 2.2 of the MethPipe manual).

I

[2015-07-20 18:45] mengzhou commented on #71
There are cases when `to-mr` cannot handle position-sorted BAM file perfectly. Your input BAM file contains pair-end reads, and in SAM format individual ends are saved separately. However `to-mr` needs to join the matching ends to one fragment (pair), which requires storing reads in the memory until their mates are found.

In your example, the read that was mapped to position 3000596 is an end1 of

[2015-07-20 19:53] cviner commented on #71
Thanks for this detailed explanation. Your explanation makes sense to me, and what you said regarding the paired-end reads and their respective locations in the BAM file is correct.

It's interesting that you'd suggest sorting by read names; I was initially doing that in a previous pipeline, but sorted them by position for input into ```to-mr``` expecting it to maintain the sort order, for suitabi

[2015-07-20 20:43] mengzhou commented on #71
`to-mr` is not very informative in reporting such case (sorry about that). Basically it maintains a hash table with a hard-coded max size, which keeps individual reads as pairing candidates. When the size reaches the limit, `to-mr` will start cleaning the hash table. Reads that are cleaned in this process will be printed as single end.

Because `to-mr` adds a prefix "FRAG" for each fragment in the

[2015-07-20 20:52] cviner commented on #71
That's unfortunate, but I appreciate the details and the means of discerning whether this occurred. (It would likely benefit others if you added these details to the end of Section 2.1 of MethPipe's manual.)

I think I can check for that relatively efficiently, using a combination of ```fgrep``` (on the ```to-mr``` output) and [Sambamba](http://lomereiter.github.io/sambamba/)'s [filtering language

[2015-07-20 20:56] mengzhou commented on #71
Thanks for helping us improving `methpipe`!

[2015-07-20 20:58] cviner commented on #71
My pleasure! :)

[2015-07-20 20:58] #71 closed

[2015-07-20 22:12] cviner opened #72 "Question regarding applicability to hemi-methylated bases"
Section 2.4 of the MethPipe manual states that "[s]ince symmetric methylation is the common case for CpG methylation, we have *designed all of our analysis tools based on symmetric CpG sites*, which means each CpG pair generated by ```methcounts``` should be merged to one. [emphasis added]"

It is important for my analysis to be able to detect, even rare instances of, hemi-methylation across all g

[2015-07-20 22:28] bdecato commented on #72
The main reason for this assumption is to improve coverage per site, which directly impacts our ability to call hypomethylated regions (HMRs) in all cell types and partially methylated domains (PMDs) in cancer.

If you use these downstream programs in the pipeline, the assumption of hemi-methylation does not matter in most contexts, and in the rare case where they are different in normal tissues,

[2015-07-20 23:12] cviner commented on #72
I'm very glad to hear that. I realize it's common to pool over CpGs for better coverage and will indeed need to be careful that my coverage is sufficient without doing so. I'm actually only using your pipeline up to ```methcounts``` → ```mlml```, and am not investigating HMRs using your HMM (although I might at some point, so these considerations, especially your coverage heuristic, are quite usef

[2015-07-20 23:12] #72 closed

[2015-07-21 14:56] cviner opened #73 "merge-methcounts "inconsistent context" errors"
I am running ```merge-methcounts``` to merge the output from ```methcounts``` (which was run for all genomic contexts, i.e. without ```-n```). However, I receive the fatal error: "inconsistent context" for all of my merge attempts.

One example line of my input file for which this error occurred is as follows:

[code]

Another file had the error at the following line:
[code]

It looks like this is

[2015-07-21 22:03] mengzhou commented on #73
It looks like your input files have different number of lines, and then `merge-methcounts` is trying to merge two different sites into one. Can you check the total number of lines of your individual input files?

[2015-07-21 22:04] andrewdavidsmith commented on #73
Try to forward these questions to the google group for methpipe, and answer it there. Unless we are actually talking about parts of the code (which might happen eventually for this issue).

[2015-07-21 22:35] cviner commented on #73
@mengzhou:

I am re-computing another run of ```methcounts``` → ```merge-methcounts``` and will be able to ensure that I can reproduce this error and check the total number of lines of the ```methcounts``` output files (I wasn't storing them all for these tests due to their size). I'll let you know once that is done.

Just to clarify, since I never use ```-n``` and always use the same directory pa

[2015-07-21 22:41] andrewdavidsmith commented on #73
Thanks @cviner I understand this particular case might easily end up being a bug and then appropriately discussed here -- all your input is very much appreciated.

[2015-07-22 16:01] cviner commented on #73
@andrewdavidsmith: I appreciate how active your lab is in developing and supporting this valuable piece of software!

@mengzhou: I have been able to reproduce this error. The current test run was comprised of an attempt to merge 4 files. There does indeed appear to be an issue of files of inconsistent lengths, but I'm not certain that was the proximal cause of the error, and may instead be symptom

[2015-07-22 17:24] egor-dolzhenko commented on #73
@cviner, it looks like the problem with merging mutated and non-mutated sites has been fixed in the development version (commit aaa861d12b7d76008b3c9b375d80fa3d1e693476). Could you please try the development version of `merge-methcounts`?

[2015-07-22 19:53] cviner commented on #73
@egor-dolzhenko: I appreciate the suggestion. I had to checkout revision 3655360, since I encountered a compilation error upon checking out the current head, I believe due to [a minor error introduced](https://github.com/smithlabcode/methpipe/commit/fd13264b3310102771fe28d886326b22610037bc#commitcomment-12306201) in fd13264.

I have now tested ```merge-methcounts```, on the development version and

[2015-07-22 20:37] egor-dolzhenko commented on #73
@cviner, I am glad to hear that the newer `merge-methcounts` worked.

I am not sure what might be causing your `methcounts` file to get truncated. I have processed quite a few data sets with `methpipe` and never had this issue. I suppose one (unlikely) reason that could cause this is if an input file suddenly becomes unavailable (due to being moved or compressed) while `methcounts` is still runnin

[2015-07-22 23:35] cviner commented on #73
The former possibility had occurred to me, but I've reproduced the truncation of the same file on one other occasion and also found no errors (e.g. file not found, broken pipe, etc.).

Your latter point seems like a good way to approach this, but the only way for a read to span past the truncation point in this case would be if (part of it) it aligned "off-of" part of the mm9 assembly, i.e. was so

[2015-07-23 00:11] mengzhou commented on #73
can you paste that specific read here?

[2015-07-23 00:18] egor-dolzhenko commented on #73
It might be useful to include reads from other chromosomes that "follow" chr13 (that is the reads that `methcounts` did not process). The idea is to get the read(s) that `methcounts` input when it decided to quit.

[2015-07-23 00:22] cviner commented on #73
@egor-dolzhenko I looked for any reads aligning within the first 1 kb of chr14 (as expected, there were none), but will expand that window to find its first read.

[2015-07-24 02:46] cviner commented on #73
The first chr14-mapped read occurs at position 3000017 (in the one-based coordinate system). The read is mapped in its proper pair, of which it is the first and on the positive strand.

It occurs on line 1 953 285 of the (read name-sorted) BAM file. The final mapped, previously discussed, chromosome 13 read occurs on line 38 130 915 of the BAM file.

I am currently attempting to bypass ```merge-me

[2015-07-25 00:11] cviner commented on #73
I aligned my data to the UCSC mm9 release, including the not-fully-placed or unplaced ("random") contigs. This might be causing difficulties for ```methcounts``` or perhaps it is coincidental and it happened that the reads causing problems occurred at a boundary which implicated a "random" chromosome. As depicted below, the issue appears to occur in the transition from chromosome 16 to 17, and hav

[2015-07-27 22:51] cviner commented on #73
I am still not sure why chr16_random is only in one of the two aforementioned files. As far as I can tell there is only a single read that aligned to that chromosome and is present in the de-duplicated and merged to-mr output. The merged file that the chr16_random read is present in is the one which contained chr16_random data from ```methcounts```, while the other did not.

Is it possible that ch

[2015-07-28 23:18] cviner commented on #73
I have now confirmed that the 1551 additional lines appearing in half of my ```methcounts``` output files are all from chr16_random, which is missing in the other half of the files. This occurs despite both sets of files using the same reference genome. The files with these additional chr16_random lines are exactly and only those with non-zero chr16_random-aligned reads in their respective ```to-m

[2015-07-28 23:35] bdecato commented on #73
Hi Coby,

It looks like you're right: there is a line in methcounts.cpp (line 328)
that omits chromosomes if their coverage is zero at every site.

I think this is the wrong approach because it is inconsistent: if we omit
uncovered sites, we should do it for all uncovered sites, not just a
chromosome that is completely uncovered in the name of saving space when it
causes downstream problems mergin

[2015-07-28 23:55] cviner commented on #73
Thanks, Ben!!

I seem to still be encountering the same assertion error with ```mlml``` in some cases, even when I ensure that both ```methcounts``` files have identical (and sorted) loci. I'm investigating that now.

[2015-07-30 16:12] cviner commented on #73
The ```mlml``` problem is now solved. The only remaining issue ended up being a technical problem on my end.

Thank you all for your assistance!

[2015-07-30 16:12] #73 closed

[2015-08-04 19:59] andrewdavidsmith opened #74 "Reporting "effective genome size" in the output of HMR program"
The HMR program should report the size of the genome that is contained in "non-desert" regions of the genome. A related issue is whether to eliminate non-desert intervals that are too small. The cutoff of 1 CpG being "too small" is sensible, as we would never want to call an isolated CpG site as an HMR (at least the way we currently understand the HMRs as intervals). This second issue arises when

[2015-08-11 21:21] andrewdavidsmith opened #75 "The levels program (the program itself is the issue...)"
This program is a monolithic mess. It is completely unintelligible and cannot be refactored or modified without breaking because all the code is in the main function.

[2015-08-11 21:22] andrewdavidsmith commented on #75
This apparently is a pretty big issue. @mengzhou just explained it was already opened as an issue.

[2015-08-27 00:35] andrewdavidsmith commented on #74
Yes, this is definitely a good idea.

[2015-08-27 16:10] bdecato commented on #74
Should this report be in the --verbose output or as a separate statistics file?  Is it useful to include a stats output file for each program we have in ``methpipe``?  What should be different in Jenny, Liz, and my implementations of specific flavors of ``hmr``?

If we eliminate non-desert intervals, then I worry we're just introducing another cutoff where the FDR correction already handles the is

[2015-08-27 17:34] andrewdavidsmith commented on #74
I think the verbose output might be worth reconsidering in general. Stats are good things to have.

[2015-08-27 23:40] #60 closed

[2015-08-27 23:41] bdecato commented on #48
I think the only two remaining to integrate are bsrate2 and roimethstat2.  We may benefit from rewriting bsrate to include analysis of bisulfite conversion along reads and potentially throw away reads that are low conversion.

[2015-09-21 23:52] acgtun opened #76 "the number of lines for the methcounts output file is not consistent in the same genome"
I ran the methcounts on two datasets using the same genome (hg19). The number of lines for the two output files are different. One is 1186217236, and the other is 1186291952.

[2015-09-21 23:53] bdecato commented on #76
This is an ongoing problem in methcounts -- I recently fixed an issue where if a chromosome was not covered at all, it was not printed.  Tomorrow I will reproduce this bug with my own copy of methpipe and hopefully figure out what is causing the difference.

[2015-09-21 23:54] acgtun commented on #76
Thanks @bdecato

[2015-09-22 03:24] acgtun commented on #76
when I only considered the 25 chromosomes, I got the same number.

[2015-09-22 03:37] mengzhou commented on #76
By default we should only use those chromosomes: chr1-22, X, Y and M, not those chr_random/chr_Un. I think it should be mentioned somewhere in the Wiki?

Best regards,
Meng

[2015-09-22 03:51] acgtun commented on #76
Thanks, @mengzhou .

Before the size of methcounts output file was about 28 Gb, but now it's only 4.8 Gb. Is that normal? Thanks.

[2015-09-22 03:56] mengzhou commented on #76
4.8G sounds weird to me. It should be either around 21G for all cytosines,
or about 800M if you use -n for only CpGs.

Best regards,
Meng

On Mon, Sep 21, 2015 at 8:51 PM, Haifeng Chen <notifications@github.com>
wrote:

[2015-09-22 03:59] acgtun commented on #76
I didn't use -n option. It should be more than 20 Gb.

[2015-09-22 04:06] bdecato commented on #76
Is the file truncated/does it include every chromosome in the directory?
Definitely sounds weird.

On Mon, Sep 21, 2015 at 8:59 PM, Haifeng Chen <notifications@github.com>
wrote:

--
--
Benjamin Decato
PhD Student
Computational Biology Section,
Department of Biological Sciences,
University of Southern California
1050 Childs Way, RRI 408A
Los Angeles, CA 90089-2910

[2015-09-22 04:09] acgtun commented on #76
@bdecato You are right. I just checked. It was truncated. It doesn't contain all the 25 chromosomes. However, when I ran the methcounts, I included all of them.

[2015-09-22 17:03] acgtun commented on #76
When I mapped the reads, I used the 93 chromosomes in hg19. Then I used 93 chromosomes to run methcounts, but I got different number of lines of output files. After that, I ran methcounts on the 25 chromosomes,  the results were truncated because when methcounts cannot find one of the chromosomes, it stooped.

[2015-09-22 17:20] andrewdavidsmith commented on #76
Was any error printed to the screen when it stopped?

On Tue, Sep 22, 2015 at 10:03 AM, Haifeng Chen <notifications@github.com>
wrote:

[2015-09-22 17:21] bdecato commented on #76
Yes.  It may be better to print a warning and ignore all reads matching
that chromosome.

On Tue, Sep 22, 2015 at 10:20 AM, Andrew Smith <notifications@github.com>
wrote:

--
--
Benjamin Decato
PhD Student
Computational Biology Section,
Department of Biological Sciences,
University of Southern California
1050 Childs Way, RRI 408A
Los Angeles, CA 90089-2910

[2015-09-22 17:37] acgtun commented on #76
@andrewdavidsmith It said one of the chromsomes was not found.

[2015-09-22 19:59] bdecato commented on #76
The fix for this bug was in implemented in commit a66a92e.  Please update to the latest version of methpipe and run again with all chromosomes present to get the same line numbers for each sample.

[2015-09-22 19:59] #76 closed

[2015-09-22 20:41] acgtun commented on #76
Hi, @bdecato , I think this line should be also removed. https://github.com/smithlabcode/methpipe/blob/a66a92e367faf5c0d2b5e1fc0c9d78d727987f1f/src/analysis/methcounts.cpp#L312

Otherwise, we cannot get the same line numbers.

[2015-09-22 21:02] acgtun commented on #76
@bdecato  I am sorry. When count is empty, no matter you delete or not, it won't output anything. So  commit a66a92e will not change the output file.

[2015-09-22 21:08] acgtun commented on #76
I guess the number of lines are different on two datasets because some of the sites are not covered by the mapped reads.

code is here https://github.com/smithlabcode/methpipe/blob/a66a92e367faf5c0d2b5e1fc0c9d78d727987f1f/src/analysis/methcounts.cpp#L328

[2015-09-22 21:57] andrewdavidsmith commented on #76
No. That doesn't determine what gets output.

I think we have always had a mode to output the full set of sites for the chromosomes loaded, whether covered or not.

Sent from my iPhone

[2015-09-22 22:00] acgtun commented on #76
@andrewdavidsmith  it's here
for (size_t i = 0; i < counts.size(); ++i) {

when chromosome end positions are not covered by any mapped reads, they are  not in the output file.

https://github.com/smithlabcode/methpipe/blob/a66a92e367faf5c0d2b5e1fc0c9d78d727987f1f/src/analysis/methcounts.cpp#L198

[2015-09-22 22:03] acgtun commented on #76
@andrewdavidsmith  I think you are right. since the size of counts is the same to chrom.size()

 counts.resize(chrom.size());
https://github.com/smithlabcode/methpipe/blob/master/src/analysis/methcounts.cpp#L324

[2015-10-01 21:27] andrewdavidsmith opened #78 "Radmeth methdiff program major formatting problems"
Major line length problems and also indentation problems.

[2015-10-03 17:06] andrewdavidsmith opened #79 "CpG-only mode for methcounts"
Should this mode output the symmetric form of the counts? It seems like the usefulness of this mode is to provide a file that we have traditionally worked with for understanding CpG methylation.

[2015-10-06 18:05] acgtun opened #80 "methcounts doesn't work on one dataset"
On one dataset, methcounts doesn't work well. @egor-dolzhenko found out that the chromosome name is different to the fasta file name. However, after changing them to the same name, methcounts still doesn't work well.

[2015-10-06 18:06] bdecato commented on #80
This issue needs to be more specific.  What do you mean by "doesn't work well?"  Could you give a description of the input and output?

[2015-10-06 18:27] acgtun commented on #80
@bdecato the input is the output of duplicate-remover, the output is empty.

[2015-10-06 19:35] egor-dolzhenko commented on #80
It actually worked for me after I renamed the files; @acgtun, let's compare what we did.

[2015-10-06 23:31] mengzhou commented on #79
We have `symmetric-cpg` for this functionality. I don't quite remember but I think the reason `-n` keeps both CpG sites is to enable checking asymmetric methylation conveniently.

[2015-10-06 23:35] mengzhou opened #81 "merge-methcounts running slow"
I didn't do solid tests, but I do feel that it is running much slower than it used to be. Maybe the new functionality needs to be optimized.

[2015-10-15 06:27] egor-dolzhenko opened #82 "merge-methcounts produces incomplete table"
The proportion table produced by `merge-methcounts -t case* control*` is missing coverages from `control3.txt`.

[case1.txt](https://github.com/smithlabcode/methpipe/files/13785/case1.txt)
[case2.txt](https://github.com/smithlabcode/methpipe/files/13788/case2.txt)
[case3.txt](https://github.com/smithlabcode/methpipe/files/13786/case3.txt)
[control1.txt](https://github.com/smithlabcode/methpipe/fil

[2015-10-15 17:27] #79 closed

[2015-10-15 17:35] mengzhou opened #83 "removing `pipeline` directory?"
It is outdated.

[2015-10-15 23:28] mengzhou commented on #58
It looks like `bissnp` processes a mapped read file (BAM), and therefore the output will be a rearrangement of tags in the BAM file. As suggested in the google group post, user should restore the ordering of tags in the processed BAM file and use according mapper for `to-mr`. So I think this support is not needed.

[2015-10-15 23:28] #58 closed

[2015-10-16 00:05] mengzhou commented on #70
I just checked the `bwa-meth` output. Since `bwa-meth` uses `bwa` for the mapping duty, the `-m general` option will work fine. Because `bwa` is perhaps the best mapper at using SAM flags properly.

The only problem for using `general` is the number of mismatch per alignment will not be converted. But this will not affect any current `methpipe` component, so it's ok.

[2015-10-16 00:05] #70 closed

[2015-10-16 00:22] cviner commented on #70
This is great news; thanks!

I do however currently get the following error when attempting this:

    Processed 1000000 records
    terminate called after throwing an instance of 'std::length_error'
      what():  basic_string::_S_create
    Aborted (core dumped)

[2015-10-16 00:26] mengzhou commented on #70
I just fixed this with the latest commit. It's actually due to a discordant
pair of mapped reads, e.g. end1 mapping downstream of end2:
                 ----->end1
   <----end2
This kind of alignment will now be skipped and not converted.

Best regards,
Meng

On Thu, Oct 15, 2015 at 5:22 PM, Coby Viner <notifications@github.com>
wrote:

[2015-10-16 00:28] cviner commented on #70
Oh, excellent!

Was it not also the case that there was some issue with recording of methylation state, that `bwa-meth` does differently from Bismark? Does the general parsing mode automatically account for this?

[2015-10-16 00:37] mengzhou commented on #70
The purpose of `to-mr` is to recover the mapping locations and original
read sequences. If this information can be converted, all other `methpipe`
components will work fine. For now I have not seen any mapper that actually
alter the original read sequences in the output. The other complementary
information included in BAM/SAM, such as the methylation state you
mentioned, will not be used for conve

[2015-10-16 00:51] cviner commented on #70
That makes sense. I appreciate the detailed explanation.

Thanks for all your work on this. I'm looking forward to using this on `bwa-meth` data!

[2015-10-26 22:12] bdecato commented on #83
@jqujqu and I discussed the functionality of the pipeline directory and I am wondering whether we should remove it or not.  The scripts there do two things:

1) Lift over methylomes from one assembly to another
2) Automate the merging of technical or biological replicates.

We do not use these scripts in house because we have developed scripts more specific to our cluster architecture.  But the de

[2015-10-26 22:35] bdecato commented on #48
roimethstat2 imported.  Still need to implement bsrate2 and add option for merged-symmetric CpGs to levels2.

[2015-10-27 17:26] #82 closed

[2015-10-27 17:27] #80 closed

[2015-10-27 17:29] #63 closed

[2015-10-27 17:32] mengzhou commented on #45
duplicated

[2015-10-27 17:32] #45 closed

[2015-10-27 17:42] bdecato commented on #62
I tested and replaced the original roimethstat program with this one.  As Andrew said above, it is much faster for a small set of regions but is around 3 fold slower on the entire set of hg19 refseq genes.  Not that big of a deal, and the memory usage went way down.

[2015-10-27 17:42] #62 closed

[2015-10-27 19:06] #37 closed

[2015-10-27 19:07] #75 closed

[2015-10-27 19:07] #61 closed

[2015-10-27 19:08] mengzhou commented on #50
I think is issue is now fixed, right?

[2015-10-27 19:24] jqujqu commented on #50
No.

[2015-10-27 19:40] jqujqu commented on #50
Now fixed.

[2015-10-27 19:40] #50 closed

[2015-10-27 22:16] bdecato commented on #83
Removed and updated manual.

[2015-10-27 22:16] #83 closed

[2015-10-27 22:23] bdecato commented on #78
Fixed.

[2015-10-27 22:23] #78 closed

[2015-10-27 23:00] bdecato commented on #48
@andrewdavidsmith I am testing bsrate2, and there are a few changes I was wondering what the motivation for was.

1) We no longer accumulate the "overhanging" bases and warn that a nonzero number of reads mapped to the very end of a chromosome.  Why was this removed?

2) bsrate2 has (potentially debug) output that prints the read counts to standard error.  Is this something that should be removed,

[2015-10-27 23:27] bdecato commented on #48
Per our conversation, it seems bsrate2 has previously been integrated/is not important to integrate.  All of the "2" programs in pre-methpipe have been incorporated now!

[2015-10-27 23:27] #48 closed

[2015-10-27 23:53] bdecato commented on #74
Verbose output now includes an "EFFECTIVE GENOME PROPORTION" that gives the proportion of the genome in basepairs that exists in non-desert regions.

[2015-10-27 23:53] #74 closed

[2015-10-27 23:55] bdecato commented on #44
We recently removed the very deprecated pipeline scripts from methpipe and moved the automation this thread discusses to the MethBase repo.  Closing this issue.

[2015-10-27 23:55] #44 closed

[2015-10-27 23:57] jqujqu commented on #56
removed and no longer an issue.

[2015-10-27 23:57] #56 closed

[2015-10-29 17:31] #34 closed

[2015-10-29 20:39] jqujqu opened #84 "Improve methbase description page"
@guilhermesena and @timydaley  will take a look at the description page and comment on what's missing.  Others should follow up keep the discussion going.

[2015-10-30 22:02] guilhermesena commented on #84
Ok, here are my observations.

I used [this project] (https://genome.ucsc.edu/cgi-bin/hgTrackUi?hgsid=451133223_oiNbGhSxFdCdpp68aWAXIqqYzFLk&c=chr21&g=hub_8415_Hodges_Human_2011) as a reference. Overall I think it's very synthetic and shows what has to be shown. There are some minor details that weren't clear to me (maybe for lack of experience in sequenced data).

**Description**
 - The second co

[2015-10-30 22:18] jqujqu commented on #84
Update the section **Mapping bisulfite treated reads** section  with information about `walt` too.

Add reference to Fang's paper either in the **Identifying allele-specific methylated regions** or in the **References**

[2015-10-31 00:56] mengzhou opened #85 "roimethstat potentially will miss to count site(s)"
In this fix f63954e @sarahsma reported a bug when `roimethstat` is in binary search mode, the location function sometimes locates the file pointer to a CpG site which is before the query region start position. And then the counting while loop will reject to continue and return a false -nan value. My fix added another while loop to move the file pointer forward in this case.

However I'm not sure i

[2015-11-02 19:43] andrewdavidsmith commented on #85
I just made an update that should fix this. @sarahsma or @mengzhou should check.

[2015-11-02 22:12] mengzhou commented on #85
I think now it's working correctly.

[2015-11-02 22:12] #85 closed

[2015-11-03 18:45] bdecato opened #86 "Shared functions in `levels`, `roimethstat`, and new binning program"
`levels`, `roimethstat`, and the new binning program designed to query the correlation between various methylome features and CpG density that is coming to adssrc have a lot of shared functions.

At some point soon we should consider refactoring these programs to include the shared utilities as part of smithlab_cpp.

[2015-11-03 21:23] egor-dolzhenko commented on #84
Perhaps those of us who had significant interactions with MethBase users could tell us about how people use the database? This could help us to make the description page more useful.

I typically use MethBase to visually compare methylomes in a specific locus. So it would be useful to know if some "global" properties of any of the methylomes that I am comparing are off. For example, if one of the

[2015-11-11 00:20] bdecato opened #87 "Bus errors with `symmetric-cpgs`"
Getting bus errors and running for a long time when I run symmetric-cpgs on a subset of my files.  What about this program is hard on the hardware?

My understanding of a bus error is when you try to access a memory location that does not physically exist (maybe by offsetting your addresses somehow).  How could such a simple program be causing a problem like this?

Ben

[2015-11-11 16:50] andrewdavidsmith commented on #87
Bus errors often come from using a "slightly wrong" binary, or recompiling a program while it is being run if it runs for a long time and somehow gets read off disk again. In the "slightly wrong" case, one example is if some of the dynamically linked libraries are not identical to the ones present when the program was compiled.

On Nov 10, 2015, at 4:20 PM, Benjamin Decato <notifications@github.co

[2015-11-18 08:17] guilhermesena opened #88 ""bad output file" on methcounts"
I was trying to run methcounts following the manual instructions and to my surprise every filename I set for my output file ("-o" option) returned a "bad output name". I checked the code to see why that was happening and noticed there's a function in smithlab_cpp/smithlab_os.cpp (line 544) that uses the unistd.h's "access" function to check **whether my .meth output filename exists**, which it obv

[2015-11-18 16:13] bdecato commented on #88
Can you check to see if this issue was fixed with my recent commit? We had
a similar bug last week. Thanks!!
On Nov 18, 2015 12:17 AM, "Guilherme Sena" <notifications@github.com> wrote:

[2015-11-18 17:15] andrewdavidsmith commented on #88
This is the same issue as we discussed Thursday at the meeting. For now just remove the check. I'll fix it when I can.

Sent from my iPhone

[2015-11-24 02:36] ycl6 opened #89 "No. of reads overlapping is different in the methcounts input and output file"
Hi,

I used intersectBed to check the number of reads overlapping a particular site. The no. of matched reads in the .mr.sorted file generate by duplicate-remover (used as input for methcounts) and the no. of reads overlapping the site recorded in the .meth file generate by methcounts is different.

I thought the 2 numbers should match. Did I misinterpret the meaning of these 2 output files?

[2015-11-24 03:31] mengzhou commented on #89
The count in methcounts result is not necessarily the true number of reads
overlapping that site. If in the read there is a mismatch right at the
cytosine site, then that read will not be counted. For example, in the
genome there is this C site, TTCAA, but the read is TTAAA. This A readout
is neither the original C nor a bisulfite converted T; therefore it will be
considered as a mismatch.

So I t

[2015-11-24 08:34] ycl6 commented on #89
Thanks @mengzhou, the number indeed add-up after taking mismatches into account.

[2015-11-24 16:15] #89 closed

[2015-12-31 20:10] andrewdavidsmith opened #90 "levels program broken"
Needs to include header for MSite class, needs to replace the function for reading in the sites (should use extraction operator) and also needs to have Makefile rule added.

[2016-03-02 06:14] xjlizji opened #91 "Convergence condition in TwoStateHMM.cpp"
`if ((total - prev_total) < tolerance) {
      if (VERBOSE)
    cerr << "CONVERGED" << endl << endl;
      break;
    }`
It will be "converged" once likelihood decreases.

[2016-03-02 15:36] andrewdavidsmith commented on #91
It will also be "converged" once likelihood no longer increases. Is it presenting a problem?

[2016-03-02 19:35] lizji1992 commented on #91
I just have concern that in practical the observation likelihood might not be always strictly increasing before really converges. And I feel like the values of parameters are not converged yet before the likelihood converges based on current criterion.

[2016-03-24 23:33] andrewdavidsmith opened #92 "Return values of functions in MethpipeFiles"
The functions for reading and writing lines in methcounts files are returning bool values. The reason is to test for success. However, the streams themselves can be used for this, and make the code cleaner. Does anyone have any objection to trying to modify those? I personally don't know of any code it would break.

[2016-03-25 00:21] bdecato commented on #92
This is something we should do.  Downstream (heh) we should make our error messages more reflective of the actual error being returned by the stream.

[2016-03-25 00:22] andrewdavidsmith commented on #92
I guess you mean “good” and “bad” aren’t reflective enough?

On Mar 24, 2016, at 5:21 PM, Benjamin Decato <notifications@github.com<mailto:notifications@github.com>> wrote:

This is something we should do. Downstream (heh) we should make our error messages more reflective of the actual error being returned by the stream.

—
You are receiving this because you authored the thread.
Reply to this emai

[2016-03-25 00:25] bdecato commented on #92
Multiple flags among (eofbit, failbit, and badbit) can be set during a single operation.  Each of these flags has specific uses and reasons for it being set.  So if someone tries to read from something that is already at EOF, we would see the failbit and eofbit set, and suggest that they already hit the end of file for instance, rather than just saying "FAILURE" until they figure it out.

[2016-03-25 00:26] andrewdavidsmith commented on #92
I was joking.

On Mar 24, 2016, at 5:25 PM, Benjamin Decato <notifications@github.com> wrote:

[2016-04-03 19:10] andrewdavidsmith commented on #87
Should this issue be closed? Can the issue be reproduced reliably?

[2016-04-03 19:10] andrewdavidsmith commented on #92
Return values have been updated.

[2016-04-03 19:10] #92 closed

[2016-04-03 19:15] andrewdavidsmith commented on #88
Should this issue be closed? Maybe we need to make a different issue related to checking the output file is valid?

[2016-04-03 19:15] andrewdavidsmith commented on #86
@bdecato can you make this a bit more specific?

[2016-04-03 19:19] andrewdavidsmith commented on #81
I looked into this on Friday. @bdecato also mentioned the slowness, but I responded based on some bad information. The algorithm inside merge-methcounts is not optimal. There is also much copying of heavy objects. @bdecato had the suggestion of two modes. This should be trivial to implement. Maybe this issue should be revised.

[2016-04-03 19:20] andrewdavidsmith commented on #53
@mengzhou can you please indicate the places where this functionality would be used? Likely it is something we want.

[2016-04-03 19:21] andrewdavidsmith commented on #69
@mengzhou @bdecato Should this issue be closed?

[2016-04-03 19:23] andrewdavidsmith commented on #91
@lizji1992 can you give a bit more detail? Is it true that when the likelihood stops increasing then the values will also not change, and so it must stop? Can you suggest a different convergence criterion?

[2016-04-03 19:30] mengzhou commented on #53
For example one uses the following command
`methcounts -c hg19.fa`
and `hg19.fa` includes all chromosomes. This is not recommended in our manual, but sometimes one might find it more convenient to use one single FASTA file (assuming the user knows what he is doing and no swapping issue).

[2016-04-03 19:33] mengzhou commented on #88
I think it has been fixed. For the output validation, we can open a new issue to discuss it.

[2016-04-04 21:29] tushiqi opened #93 "Design an uniform class named MSite for methylation sites"
Since multiple programs in methpipe have defined its own "struct" to represent a genomic methylation site, it may be a good idea to design a uniform class that provides a comprehensive set of operations so that each program could simply invoke the tool. There is an initial definition of MSite in src/common/MethpipeSite.hpp. Any suggestion about adding to its functionality and/or modifying its defi

[2016-04-05 18:54] bdecato commented on #87
I'm not seeing any problem on my existing methcounts files.  It's entirely possible I was just being stupid.  Closing until I see it pop up in a reproducible case.

[2016-04-05 18:54] #87 closed

[2016-04-05 18:56] bdecato commented on #88
Making a new issue for output validation.

[2016-04-05 18:56] #88 closed

[2016-04-05 18:59] bdecato opened #94 "Output validation of methpipe programs"
Although our error checking has improved since the first release, there are still cases where certain programs fail silently, truncating output or producing an empty file, attempt to write to an unknown location and never create the output file, or produce incorrect output in some other way.

This issue is meant as a discussion of what the scope of our validation should be.  Currently, methbase ch

[2016-07-01 07:44] jqujqu opened #95 "hmr -P option"
Need to set max_iteration to 0 if params_in_file is provided.

Current version goes through training step unless  both -P and -i 0 are set.

[2016-07-01 14:09] andrewdavidsmith commented on #95
Why should this be an issue? Shouldn't this just be a fix instead?

[2016-07-01 14:11] #95 closed

[2016-08-09 14:38] andrewdavidsmith opened #96 "Problem compiling on my mac"
I get the following error:
[code]
My complier is ```g++-6.1.0``` and my OS is OS X, with ```kern.osrelease=14.5.0```. I think the entire block in the ```Makefile``` (all of them) for OS X might need to be removed now.

[2016-08-10 23:59] andrewdavidsmith commented on #96
Works now.

[2016-08-10 23:59] #96 closed

[2016-09-04 21:55] cviner opened #97 "Direct piping of a BAM file into to-mr (missing header error)"
Attempting to directly pipe a BAM file into `to-mr` does not appear to function, resulting in a missing header error.

For example:

[code]

fails:

[code]

I was, however, able to work around this issue, by providing the corresponding SAM file to `to-mr`. The below command successfully generated the expected `to-mr` output:

[code]

This issue can also be reproduced using `view` alone. The below

[2016-09-09 21:28] mengzhou commented on #97
The BAM/SAM handling functionality in `to-mr` is directly taken from the `samtools` package, as you can see from the source codes. The open file function always looks for a header no matter the input format. I don't think you can create a legit BAM file without a header, though.

Regarding your question, piping to `to-mr` with a BAM theoretically works, but the problem is that `to-mr` is not smart

[2016-09-09 21:28] #97 closed

[2016-09-09 21:33] cviner commented on #97
Could the ability to detect that be added or an argument be provided to specify this? That would enable piping to `to-mr`.

[2016-09-09 21:44] andrewdavidsmith commented on #97
We will consider this.

[2016-09-09 21:50] cviner commented on #97
Thank you!

[2016-10-20 15:44] avilella opened #98 "make_table in the documentation"
Dears,

I am trying to follow the section of the documentation for radmeth, and there is a mention of a `make_table` tool that I cannot find anywhere.

It then asks to run `merge-methcounts -t` but I cannot see a -t flag in the source code for merge-methcounts. Any ideas? See attached screenshot.

<img width="807" alt="screen shot 2016-10-20 at 16 43 45" src="https://cloud.githubusercontent.com/as

[2016-10-20 16:08] jqujqu commented on #98
I think `make_table`  is be a typo, it should be `merge-methcounts`

`merge-methcounts` has the option `-t` here
https://github.com/smithlabcode/methpipe/blob/master/src/utils/merge-methcounts.cpp#L229

[2016-10-20 16:08] #98 closed

[2016-10-21 12:38] avilella commented on #98
Thanks, I found the option in the head master branch now after doing a git pull.

[2017-01-03 20:24] lmanchon opened #101 "Bwa-Meth"
-Hi,

is it possible to use first Bwa-Meth (https://github.com/brentp/bwa-meth) or ERNE-BS5 (https://sourceforge.net/projects/erne/) and then use to-mr in methpipe process ?

thank you --

[2017-01-18 19:15] imk1 opened #102 "smithlab_cpp Did not Come with methpipe"
When I cloned methpipe, I was not able to install it.  I realized that this was because smithlab_cpp had not been cloned along with methpipe.  In fact, the src directory had an empty smithlab_cpp folder.  I ended up fixing this by cloning it separately into the src directory.  It would be great if this could be fixed or clarified in the documentation.  Thanks!

[2017-01-18 19:23] bdecato commented on #102
Hi Irene,

Thanks for using our pipeline.  Did you use the --recursive flag to clone
the repository?  I just tried per the instructions in the README.md file at
https://github.com/smithlabcode/methpipe and had no issues.

In general, using the --recursive flag will be better than cloning
smithlab_cpp separately, since we associate a specific commit of
smithlab_cpp with the methpipe source.  If we

[2017-01-18 19:24] andrewdavidsmith commented on #102
I think the documentations says to clone recursively, did u do that?

Sent from my iPhone

On Jan 18, 2017, at 11:15 AM, Irene Kaplow <notifications@github.com<mailto:notifications@github.com>> wrote:

When I cloned methpipe, I was not able to install it. I realized that this was because smithlab_cpp had not been cloned along with methpipe. In fact, the src directory had an empty smithlab_cpp fold

[2017-01-18 19:25] imk1 commented on #102
I did not try the --recursive flag.  The documents did not make it clear that I needed to clone recursively in order for things to work.  (It seemed like that was an option only if I wanted to be a beta tester.)  It would be great if you could clarify that for future users.  Thanks for getting back to me so quickly!

[2017-01-18 19:39] andrewdavidsmith commented on #102
Be aware that if u get smithlabcpp separately versions might not agree. Use a tat ball unless u want unstable code. If the latter then do recursive pls

Sent from my iPhone

On Jan 18, 2017, at 11:25 AM, Irene Kaplow <notifications@github.com<mailto:notifications@github.com>> wrote:

I did not try the --recursive flag. The documents did not make it clear that I needed to clone recursively in order

[2017-01-18 20:56] imk1 commented on #102
Thanks!

[2017-02-13 23:00] slzhao opened #103 "Error in preseq lc_extrap and duplicate-remover"
Hello,

I have got some error messages in preseq lc_extrap and duplicate-remover. Would you please help with it? Thanks!

For preseq lc_extrap:

For duplicate-remover. In fact I have sorted the .mr file, but it still says "not properly sorted". I think it is a bug to handle reads in the same position?

[2017-02-13 23:10] mengzhou commented on #103
Hi,

The reads should be sorted based on (1) chromosome, (2) start, (3) end, and
(4) strand. In your example the first 3 coordinates are the same, however
the strand is not properly sorted.

Best regards,
Meng

On Mon, Feb 13, 2017 at 3:00 PM, slzhao <notifications@github.com> wrote:

[2017-02-14 05:05] slzhao commented on #103
Thanks! I think you are right. Let me try it.
Do you have any suggestion about the error in lc_extrap?

[2017-02-14 05:09] timydaley commented on #103
I think the error in preseq is due to a bug in v2 and is fixed in v2.0.2.  Try updating the repo or installing v2.0.2 (https://github.com/smithlabcode/preseq/releases/tag/v2.0.2) and let me know if you still have the error.

Cheers.

Timothy Daley

Stanford University, Departments of Statistics and Bioengineering.

________________________________
From: slzhao <notifications@github.com>
Sent: Mond

[2017-02-14 05:14] slzhao commented on #103
Thanks! Will update and report back.

[2017-02-17 15:48] slzhao commented on #103
Hello,

Sort issue was fixed by mengzhou's method.

preseq v2.0.2 fixed the "Segmentation fault" error in defect mode. But if I removed the "-D" parameter to go back to normal mode, it says (the same as the v2.0.0 version) "ERROR:  too many defects in the approximation, consider running in defect mode".

Thanks all!

[2017-02-17 18:25] timydaley commented on #103
I apologize that preseq still won't work for you.  Can you send me a small dataset where you encounter the error so that I can reproduce the issue and debug it?

Timothy Daley

Stanford University, Departments of Statistics and Bioengineering.

________________________________
From: slzhao <notifications@github.com>
Sent: Friday, February 17, 2017 7:48:52 AM
To: smithlabcode/methpipe
Cc: Timothy P

[2017-02-19 05:24] slzhao commented on #103
Thanks Timothy!
The .mr file has 51G size. I've tired the top 5,000,000 and tail 5,000,000 lines of that file and preseq lc_extrap runs perfectly. So I think it may be related to the very large file size and too many tests/checks in normal mode (without -D). Hopefully the -D mode will not change the result very much.

[2017-02-21 05:44] timydaley commented on #103
@slzhao , I think I made an issue for you on the preseq repo.  Please confirm and we can work it out over there.

[2017-02-21 05:53] slzhao commented on #103
Thanks timydaley. Replied at preseq repo

[2017-02-21 05:53] #103 closed

[2017-03-27 02:28] imk1 opened #104 "Problem with CpGs with 0 Reads"
I tried calling hyper-methylated regions in the way described (inverting the methylation signal and then calling hypo-methylation).  I ended up getting a number of hyper-methylation regions in places that had no methylation.  I looked at the data, and all of those places had CpGs, but those CpGs had 0 supporting reads.  After removing the CpGs with 0 supporting reads, it seems like the problem mig

[2017-03-27 04:12] bdecato commented on #104
Hi Irene,

I tested your scenario by downloading the Human sperm methylome from Molaro et al. (2011) and inverting the methylation levels for chromosome 19 two different ways: one with a conditional to check for 0 coverage (inverting if coverage > 1, otherwise not changing the methylation level) and one indiscriminately inverting the methylation state (exactly as described in the manual).  I also

[2017-04-25 01:00] imk1 commented on #104
I am so sorry for taking so long to get back to you.  It looks like the bug was on my end and not yours.  Thanks for trying to help me out!

[2017-04-25 18:44] bdecato commented on #104
I'm glad things worked out! Don't hesitate to reach out if you have any additional questions, and thanks again for using our stuff. Closing this!

[2017-04-25 18:44] #104 closed

[2017-05-15 20:41] #102 closed

[2017-05-26 02:04] malvarez227 opened #105 "RADmeth -1"
Hi!

For some of my loci, I get P values of -1. Any ideas what that might represent?

Thanks!

[2017-05-26 04:17] bdecato commented on #105
Hi Mariano,

Thanks for using methpipe.  A p-value of -1 from radmeth means that the test was not performed for that CpG site. It could mean one of two things:

1) There is no coverage for all samples in either/both the case and control sets
2) The methylation level is identical across all samples

In both cases, the regression would fail. It looks like this is only documented in a comment in the

[2017-05-26 04:17] #105 closed

[2017-07-11 04:36] lxcfuji opened #106 "question on proportion table"
Hi Smith Lab,

I'm generating my proportion table with a very small sample size dataset.
And in your example, I see you have 3 subjects for each case/column. Is there any minium requirement for sample size in each case?
for ample, I have a variable/case with 2 subjects in control and 5 subjects in treatment, can I adjust for this variable?
Thank you!

[2017-07-11 16:42] bdecato commented on #91
@andrewdavidsmith @lizji1992  this ambiguity leaves us open to bugs. The likelihood should be monotonically increasing, and if it isn't, we should know about it: that case is distinct from no longer increasing. I think the right convergence criterion is when the *absolute value* of the change in likelihood is below the threshold, along with a warning reporting when likelihood decreases.

I say war

[2017-07-11 16:51] bdecato commented on #106
Hi @lxcfuji,

Thanks for using our pipeline. In the future, please ask questions on our google group (methpipe@googlegroups.com) so that other community members can answer and our responses are indexed by search engines.

We used 3 subjects for each case/column as an example, but there is no minimum requirement for sample size in each case. After multiple testing correction of your p-values, you m

[2017-07-11 16:51] #106 closed

[2017-08-07 22:00] lxcfuji opened #107 "column meanings of regression output"
In your pipeline manual, page 13, "combing significance and adjusting for multiple testing" section, the description of output bed file is "the last four column corresponds to the **methylated/unmethylated** read counts of the case group and control group".
However, based on previous experience, the column meaning should be:
**total**/methylated reads of the case and control group.
I know you rece

[2017-08-08 23:42] bdecato commented on #107
Hi @lxcfuji,

You are correct that the last four columns represent the **total** and **number of methylated observations** for the case and control group. The latest release did not fix this inaccuracy in the manual. I have updated the manual. Thank you!

Ben

[2017-08-08 23:42] #107 closed

[2017-08-23 22:28] lxcfuji opened #108 "issue in getting individual differentially methylated sites"
Hi Smith lab,
I'm get dm_cpgs from cpgs.adjusted.bed following pipeline page14 code:
$awk '$7 <=0.01 "{print $0;$}"' cpgs.adjusted.bed >dm_cpgs.bed

it cannot grep p-values that using scientific notation but smaller than 0.01.
for example, if it is 6.1e-5 in 7th column, then it won’t print even its smaller than 0.01;
also, it will grep p-values beginning with "0.01" but larger than 0.01
for exampl

[2017-08-23 23:10] #108 closed

[2017-09-19 22:28] dingailuma opened #109 "Trouble calculating allelic-specific methylation scores"
[mydata.mr.zip](https://github.com/smithlabcode/methpipe/files/1316032/mydata.mr.zip)

Hi,
When I ran the command line
`allelicmeth -c hg19.fa -o mydata.allelicmeth mydata.mr`
it always came out the error that
[code]
Does anyone know why this trouble happened and how can I fix it ? Thank you very much for your help !
I think the mr file I used was correct as no error came out when I called DMR by

[2017-09-19 22:30] mengzhou commented on #109
The input of allelicmeth should be epiread format. Please see the
corresponding section in the manual for converting mr format to epiread.

Best regards,
Meng

On Tue, Sep 19, 2017 at 3:28 PM, dingailuma <notifications@github.com>
wrote:

[2017-09-19 22:40] dingailuma commented on #109
Hi memgzhou,
![screen shot 2017-09-19 at 18 38 05](https://user-images.githubusercontent.com/24386332/30618748-c5513ffa-9d69-11e7-8cc8-118760cfa707.png)
Here is what written in your user manual.
I think calling Allelically methylated regions (AMRs) need input as epiread format. Is that right ?

[2017-09-19 23:03] mengzhou commented on #109
It seems you are reading a different version of methpipe manual. Can you
check the latest one? Now Section 3.3.1 is the introduction of epiread
format as the input of allelic-specific methylation analysis.

Best regards,
Meng

On Tue, Sep 19, 2017 at 3:40 PM, dingailuma <notifications@github.com>
wrote:

[2017-09-19 23:05] dingailuma commented on #109
OK . thank you then .

[2017-09-27 15:32] antoine4ucsd opened #110 "HIV LTR for methpipe"
Hi
I am performing exploratory analyses on the HIV LTR regions.
While the sequencing has a lot of room for improvement, I was able to map the (short) reads to the bisulfite conversion of the reference using the standard params of Bowtie2 and the GUI software UGENE...
The link below contains the bam output from the raw fq files and from the trimmed fq files mapped to the ref.
Next I created the mr

[2017-09-27 17:35] bdecato commented on #110
Hi Antoine.

Thanks for using methpipe. After running `to-mr`, did you sort your mapped read file using the command on page four of the methpipe manual? If you sort your mapped read file, you should be able to remove duplicate reads with no issues.

For your issue with `bsrate`, could you please try appending a .fa suffix to your reference file? The usage statement of the program specifies that th

[2017-09-27 17:38] antoine4ucsd commented on #110
thanks Benjamin!
I will take a second look asap and keep you posted

a

[2017-09-27 18:38] antoine4ucsd commented on #110
sorry for being not very efficient but the bsrate command is still not working...
`/bsrate -c ./reference/ref.fa –o UGENE_C1bowtie2.mr.bsrate UGENE_C1bowtie2.mr`
It does not seem to accept the -c argument. I am probably missing something obvious.
(regarding the sorting, is methpipe using samtools?)
the command line is the one below, right?
`LC_ALL=C sort -k 1,1 -k 2,2n -k 3,3n -k 6,6 \
-o Human_ES

[2017-09-28 03:19] iiiir opened #111 "NULL values when converting SAM --> MR format"
Hi,

I used walt to do the alignment and then the sam is converted to mr using to-mr:
$ to-mr -m general chrM.sam -o chrM.mr

however,  got some "NULL" lines.
can you advice what is happening here?thanks

![capture](https://user-images.githubusercontent.com/4137873/30947807-ccdc36fa-a3d9-11e7-9b11-4a947a8c8675.PNG)

[2017-11-17 07:12] wkl1990 opened #112 "convert mr to epiread using methstates with error "could not find chrom: chr1""
The BS data was mapped using bismark and then removed the duplication. Then I convert the bam file to mr file using to-mr. I also sorted the mr using sort function. When I convert mr to epiread using methstates, it showed an error "could not find chrom: chr1".

[2017-11-17 07:58] wkl1990 commented on #112
I split the total fasta file to separate chromosome file and the function work well.

[2017-11-17 07:58] #112 closed

[2017-11-24 06:36] hmyh1202 opened #113 "Question?"
Hi:
   what any other software can do SNP calling, ASM and LD analysis for BS data, especially based on bismark alignment output?

[2017-11-25 19:20] bdecato commented on #113
Hi @hmyh1202,

Thanks for using our pipeline. In the future, we try to keep github issues for problems or feature suggestions specific to methpipe.

methpipe has programs dedicated to analysis of allele-specific methylation: first, convert the BAM format output from bismark to mapped reads by using `to-mr`, and then run `methstates` for epiread format. From there you can use `allelicmeth` and `amr

[2017-11-25 19:20] #113 closed

[2017-11-27 01:10] hmyh1202 commented on #113
OK, thank U so much!

[2017-11-29 03:37] hmyh1202 opened #114 "Question for method of ASM calling"
Dear sir：

   Can you explain the algorithm of ASM with no SNP information？ And what analysis can I do in downstream research?

The Best!

[2017-11-29 04:38] bdecato commented on #114
Hi again,

Take a look at the original paper for amrfinder:

http://www.pnas.org/content/109/19/7332.abstract

Briefly, the idea is to scan the genome with a sliding window and for each region, fit two models: a one-allele model and a two-allele model. In the one-allele model, the reads and the methylation state of the CpGs on them are not organized into any particular pattern. In the two-allele m

[2017-11-29 04:38] #114 closed

[2017-12-07 12:03] martinjvickers opened #115 "p-values and counting methylated sites in DMR"
I'm a bit confused by what is happening with the `radmeth` part of section 3.2.2 in the methpipe-manual. I've been trying to run DM analysis on some data with three reps of each control/case.

Firstly, in the manual it mentions;

However column 5 (`$5`) is the original p-value, column 7 is the FDR-corrected p-value.

radmeth regression. The 6-th column gives the modified p-value based on the origi

[2017-12-07 16:35] bdecato commented on #115
Hi @martinjvickers,

Thanks for using our pipeline. `radmeth merge` uses uncorrected p-values to create a composite p-value for the DMR using the Liptak-Stouffer method for combining probabilities (See @egor-dolzhenko 's paper https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-15-215). Egor may be able to give more insight into the appropriateness of applying FDR before versus

[2017-12-08 07:06] egor-dolzhenko commented on #115
Thanks for the question, Martin. You observed correctly that the CpG count reported by `radmeth merge` is based on the original, unmerged p-values. While the significance of a region is assessed using the combined p-values, knowing the number of CpGs within a DMR region that exhibit differential methylation is a useful metric for stratifying significant DMR. It helps to separate regions where each

[2017-12-11 20:12] jqujqu commented on #94
For chromosome range, UCSC bedClip removes lines that refer to off-chromosome places.

For other fails, maybe we can start documenting these weird cases, and get a list of things to check for.

[2017-12-11 20:15] jqujqu opened #116 "Add mlml option to output methcount file for the indirectly profiled mark"
We've got quite a few questions about how to call DhMRs with the MLML output. Our consensus now is to create a pseudo methcount file that can be later used by `methdiff`.

[2017-12-20 21:58] pawatmwit commented on #101
I did this exact thing (BWA-meth -> to-mr) and it worked great!

[2017-12-20 21:59] pawatmwit commented on #116
This is awesome and will make my life a lot easier, thanks!

[2017-12-26 06:44] wkl1990 opened #117 "How to compare amr in different groups"
I got the amr of each sample using amrfinder.  First, I do not know the meaning of the 4th column in the output bed file. Secondly, because I have many samples in groups, how could I get the common amr within groups and the specific amr in different groups?

[2017-12-26 16:26] bdecato commented on #117
Hi @wkl1990,

Thanks for using our pipeline. It appears the 4th and 5th column are not explicitly explained in the manual: I apologize for that and will update the manual to include them.

The 4th column holds two fields separated by a colon. The first is the name of the AMR (AMR1, AMR2, etc.) with the numbers not being contiguous due to filtering by FDR correction of p-values. The second is the n

[2017-12-27 01:49] wkl1990 commented on #117
Hi @bdecato ,

Thank you very much for your reply. It really helps.

I still have a question. The number and mean size of the AMR in each sample is various. The number range from hundreds to thousands and the mean size range from 5kb to 40 kb. I am not sure if this is true. By the way, I called the AMR using amrfinder and the default parameters.

Best,
Wang

[2017-12-27 02:41] bdecato commented on #117
This definitely sounds like a bug: AMRs should be on the order of a few kilobases and should not be as frequent as you describe.

Let me look into it: I think it may have something to do with the likelihood ratio test option. Try using the BIC score option and let me know what kind of results you get.

[2017-12-28 03:44] wkl1990 commented on #117
Hi @bdecato

I have tried the BIC method for all samples using the -b parameter. The number of BIC AMR range from two thousand to ten thousand and the mean size range from 5kb to 20 kb.

[2018-01-04 02:55] wkl1990 commented on #117
Hi @bdecato
Both the likelihood ratio and BIC method return so many and large AMRs. To reduce the regions, what parameters should I adjust?

[2018-01-04 06:12] yangliyan1991 opened #118 "Methcounts not working properly"
Hi,

I am using methcounts on my data transferred by to-msr. The program has been running for 2 days but output nothing. I have included -v in the command but no information has been printed out. My command is as follows:

`methcounts -c /Bio/Database/Species/Animal/Drosophila_melanogaster/FlyBase/r6.18/WGBS_reference/ref_genome/analysis -v -o 3.Methyl/CK-1.methyl 2.mr/CK-1.mr`

The system I am us

[2018-01-04 16:27] bdecato commented on #118
Hi @yangliyan1991,

Thanks for using our pipeline. It would be helpful to see the output of `head` on your mapped read file, the output of `ls` on your chromosome FASTA folder, and the verbose output of `makedb` from when you attempted to make it. @acgtun may have some input on the WALT issue with additional information.

I am confused: did you try to use WALT, have issues with the index, and use

[2018-01-04 16:45] acgtun commented on #118
@yangliyan1991
`makedb` should be very fast for 15 Mb genome file. Could you give us the output when you run `makedb`. Thanks.

[2018-01-05 01:00] yangliyan1991 commented on #118
Hi @bdecato @acgtun,
Thanks for the responses. I used bsmap before so I tried to use methcounts on the transferred data. Since methcounts did not seem to work properly, I thought it might work if I realign the reads using WALT and then call the methylation rate. Then I met the issue with the index.

The head of my mapped file is as follows:
`Y	3633180	3633330	ST-E00317:490:HCLNWCCXY:1:2223:21673:4

[2018-01-05 01:38] acgtun commented on #118
@yangliyan1991
Through the output of `makedb`, I could not know the reason why it took so long.

[2018-01-05 01:47] andrewdavidsmith commented on #118
I think I see the bug. Stay tuned.

On Jan 4, 2018, at 5:38 PM, Haifeng Chen <notifications@github.com<mailto:notifications@github.com>> wrote:

@yangliyan1991<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_yangliyan1991&d=DwMCaQ&c=clK7kQUTWtAVEOVIgvi0NU5BOUHhpN0H8p7CSfnc_gI&r=2ti3K9K1XjkPszCPHB82Aw&m=DuIokOWGEzyj9a36KlcP1uugyNU68OxtgVsPVPTyYmY&s=lIlXPlcDoFwlGtaib9sCB9JGVjjFQS-FOR

[2018-01-05 01:52] andrewdavidsmith commented on #118
@yangliyan1991<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_yangliyan1991&d=DwMCaQ&c=clK7kQUTWtAVEOVIgvi0NU5BOUHhpN0H8p7CSfnc_gI&r=2ti3K9K1XjkPszCPHB82Aw&m=DuIokOWGEzyj9a36KlcP1uugyNU68OxtgVsPVPTyYmY&s=lIlXPlcDoFwlGtaib9sCB9JGVjjFQS-FORtXouaOk5M&e=> can you zip up one of your test chromosome files and send it to my email at USC?

On Jan 4, 2018, at 5:00 PM, yangliyan1991 <notifi

[2018-01-05 02:09] yangliyan1991 commented on #118
Hi @andrewdavidsmith,
I have mailed you at andrewds@usc.edu

[2018-01-06 01:08] #116 closed

[2018-01-08 09:20] martinjvickers commented on #115
Hi @bdecato and @egor-dolzhenko thank you very much for those clarifications, that was very useful.

[2018-01-08 09:20] #115 closed

[2018-01-08 09:55] wkl1990 commented on #117
Hi @bdecato
I got an interesting finding. The large AMR detected by amrfinder are more likely located in the centromere regions in my data. Such as chr1:121,483,923-142,536,340, chr2:92,317,962-95,327,781, and chr8:43,835,383-46,838,942. I wonder if I could filter them based on this phenomena. Besides, the scores in LRT and BIC are very different, they are very small (like p value) in LRT but nega

[2018-01-08 21:37] #109 closed

[2018-01-08 22:48] bdecato commented on #117
Hi @wkl1990,

For LRT, the 5th column is a p-value for whether the two-allele model fits significantly better than the single-allele model or not. For BIC, look up Bayesian information criterion: it is a form of model selection that penalizes increasing numbers of parameters in your model. The higher the BIC score, the better the 2-allele model fits.

One good thing to check is whether known impri

[2018-01-12 07:04] aimstar2006 opened #119 "duplicate-remover error "input not properly sorted" with paired end reads"
Hi

When I ran the duplicate-remover for the .mr sorted files (native WALT output), error comes as "input not properly sorted". When I check the sorted file with the error position, the reads have come from paired end both + and - strand. Please refer the log and suggest how we can overcome such and proceed further. You timely support will help me quick.

Here i'm sharing the complete log of the e

[2018-01-12 07:20] jqujqu commented on #119
Could you try this?

LC_ALL=C sort -k 1,1 -k 2,2n -k 3,3n -k 6,6 -o ERR192350.mr.sorted ERR192350.mr

[2018-01-12 08:42] aimstar2006 commented on #119
Thanks for your support. It had worked.

[2018-01-12 08:42] #119 closed

[2018-01-16 02:23] hmyh1202 opened #120 "GCC"
can U provide a lower version of GCC requirement to install the soft?
my gcc version is  4.4.7, and I can`t update it

[2018-01-16 02:50] bdecato commented on #120
Hi @hmyh1202,

You have two options in this case:

1. You can try to download a previous version of methpipe from the "releases" section on github, specifically one prior to the migration to C++11. Those will have most of the functionality of modern methpipe but should be compatible with that version of gcc.

2. You can download the latest version of gcc (https://gcc.gnu.org/releases.html) and ins

[2018-01-16 15:30] andrewdavidsmith commented on #120
@hmy1202 please let us know if you are able to do one of these options.

If you go for option (2), which we recommend, and encounter any difficulty, please contact us directly and we might be able to offer some help.

On Jan 15, 2018, at 6:50 PM, Benjamin Decato <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @hmyh1202<https://urldefense.proofpoint.com/v2/url?u=https-3A__git

[2018-01-17 17:02] #86 closed

[2018-01-17 17:31] bdecato commented on #53
Is this still broken/a desirable piece of functionality to have?

[2018-01-19 21:45] bdecato commented on #120
Any update on this @hmyh1202? Hope things worked out!

[2018-01-20 00:59] #110 closed

[2018-01-27 00:13] sarahsma opened #121 "Replacing smithlab_exceptions with std::runtime_error()"
Replacing all smithlab_exceptions with std::runtime_error() in c++11, which have the same functionality but now in standard, so are more accessible.

[2018-02-03 00:36] mengzhou opened #122 "Use of is_methpipe_file_single causes loss of the first line"
https://github.com/smithlabcode/methpipe/blob/master/src/common/MethpipeFiles.cpp#L252
This function checks if the format of the input methcounts file. It has to skip potential headers and read the first non-header data line to determine file format, and only returns a boolean. However the file pointer is not reset afterwards.

[2018-02-05 22:31] mengzhou commented on #122
After checking the codes, I figured that the usages are fine. The file stream will be closed after calling this function, so no need to worry about the file pointer.

[2018-02-05 22:31] #122 closed

[2018-05-01 11:01] martinjvickers opened #123 "Input file validation for merge-methcounts"
**TL:DR** `merge-methcounts` does not check the existence of the input files before starting to run and fails with a segmentation fault if one of the input files does not exist.

This isn't a problem but might be a nice quality of life improvement for the future to check the files exist before running.

I was just using `merge-methcounts` on a large number of meth files I'd converted from bismark

[2018-06-27 07:10] jqujqu opened #124 "MLML documentation missing from Methpipe"
We did not merge MLML user guide into Methpipe manual.

[2018-06-27 08:40] martinjvickers opened #125 "Score displaying only `+` in radmeth merge output"
I'm using methpipe to process some Maize BS-seq data. In order to get this to work I've separated the sample inputs (the meth files) into chromosomes rather than processing the whole genome at ones. If I didn't do this separation I often get a segfault when running the `radmeth merge`.

These meth files are further subdivided into the three contexts (CG, CHG, CHH) as this is of particular interest

[2018-07-14 19:56] mengzhou opened #126 "Output format of methdiff and radmeth is not consistent"
`methdiff` uses methylated reads and unmethylated reads, but `radmeth` uses total reads and methylated reads. It's better to make the formats consistent to prevent confusion.

[2018-07-14 20:07] mengzhou commented on #125
This bug will only occur for the last row of `radmeth merge` output, when the dmr score is not 0. The dmr score is printed to the error message, instead of the output file (where you see a +). I believe this corresponds to a DMR which ends at the last cytosine site of your methcount file.

@bdecato do you think the score of the last site is some sort of error, as your commit says? I'm not sure how

[2018-07-14 20:11] mengzhou commented on #123
Thanks for the feedback! We have a check function for other tools, e.g `methcounts`, but `merge-methcounts` is not one of them. I will fix this.

[2018-07-14 20:16] #123 closed

[2018-07-27 22:40] slockton opened #127 "Minor: methcounts -about doesn't work"
Just noticed this minor quibble when setting up methpipe (I'm using the -about flag as a check to see if the programs are working on a cluster because of issues getting GSL installed)...

[code]

Whereas the other programs in methpipe for example:
[code]

Version is 3.4.3

[2018-08-12 01:12] andrewdavidsmith opened #128 "duplicate remover summary statistics augmentation"
We should have duplicate remover produce the kind of read counts histogram that can be provided to preseq directly. This can come after the current stats output, and it could be optional or even in another file.

[2018-08-17 17:05] jdnukem opened #129 "HMR score column larger than 1000, error from bedToBigBed"
Hi, when I run bedToBigBed on my *.hmr file, I get the following error:
"score (###) must be between 0 and 1000"

Since the scores represent CpG's within each hmr, I don't imagine setting scores that are >1000 to 1000 would be the best way around this error.

What would you advise I do?

Thanks!
John

[2018-08-17 17:26] bdecato commented on #129
Hi John,

To be honest, since I usually don't use the score in the visualization with bigBed, I typically just create my bigBed file from the first 3 columns (awk them out to a temp file, run bedToBigBed on that temp file, delete temp file).

If you are interested in visualizing the relative CpG density of your HMRs (i.e. useScore=1 on the browser), you could create a normalized score that ranges

[2018-08-17 17:26] #129 closed

[2018-08-18 18:03] jdnukem commented on #129
I ended up normalizing the scores, but in retrospect, I will probably just awk the first 3 columns for the future.

Cheers

[2018-10-01 15:34] cviner opened #131 "Segmentation fault in to-mr with some SAM files"
I obtain the following error (both normally and as shown below from GDB on a debug-compiled version), when attempting to run `to-mr` on some SAM files:

[code]

Interfacing GDB with Valgrind, I found that the error occurred (at least) on the below read:

[code]

I additionally [provide](https://gist.github.com/cviner/7e06ac88ddafbd8c63b5ebcdf52bd67f) the full result of Valgrind's Memcheck.

Please

[2018-10-10 23:41] #127 closed

[2018-10-14 19:31] cviner commented on #101
I too have gotten this to work well, via `to-mr -m 'general' <SAM/BAM file>`.

Please refer to the [resolved issue](https://github.com/smithlabcode/methpipe/issues/70) discussing this, for details.

[2018-10-14 19:37] cviner commented on #131
I am also in the process of attempting this on two other clusters. Thus far, neither have resulted in the above error, but I cannot yet be certain that they got far enough to start reading in the BAM files.

For reference, the information for the two other systems is as follows:

    Linux nia0010.scinet.local 3.10.0-693.21.1.el7.x86_64 #1 SMP Wed Mar 7 19:03:37 UTC 2018 x86_64 x86_64 x86_64 GNU/L

[2018-10-16 00:12] lizji1992 commented on #131
It might be due to the version of `samtools` API used in the `to-mr` program. We'll keep tracking of this and consider an upgrade in the next release. Thanks for using our tools and reporting this.

[2018-10-18 23:01] mengzhou opened #132 "duplicate-remover stats fix"
1. Change `duplication_rate` to `unique_fraction`, which indicates the fraction of reads that do not have any duplications. This should be `(reads_out - reads_with_duplicates)/(reads_in)`.
2. Change `duplication_rate_for_dups` to `duplication_rate`, with a new definition describing the average number of duplicates per read. It is `(reads_removed + reads_with_duplicates)/reads_with_duplicates`.

A

[2018-11-21 18:47] mengzhou commented on #124
It also needs to be updated. E.g input format is outdated.

[2018-12-17 21:17] #53 closed

[2018-12-17 21:18] #118 closed

[2018-12-17 21:19] mengzhou commented on #118
This should be fixed by the commit cf65cf5.

[2019-01-03 06:51] masarunakajima opened #133 "struct Site in merge-methcounts.cpp"
I noticed that `merge-methcounts.cpp` has a struct called Site. I also noticed that programs such as `levels.cpp` use struct MSite that is defined in `MethpipeSite.hpp`. I think we should use MSite in `merge-methcounts.cpp` for uniformity.

[2019-01-22 22:46] sirselim opened #134 "to-mr extremely slow?"
Hi there,

I'm currently processing some 100bp PE human RRBS data with the aim of exploring allele-specific methylation. I have used `bwa-meth` to align the reads and am attempting to convert them to mapped read files using `to-mr`, however this step is taking a very long time, i.e. I started the job last night on 22 bam files and this morning the first file is still being generated (~14hrs thus f

[2019-01-23 01:55] sirselim commented on #134
OK, I've been running some further tests and it looks like this is a bam sorting issue. After being processed through `bwa-meth` my data is sorted using `sambamba`. The default sort is via 'coordinate', with another option to sort by 'qname' (reads are sorted lexicographically by their names): http://lomereiter.github.io/sambamba/docs/sambamba-sort.html

After re-sorting using the 'qname' sort ord

[2019-01-23 01:55] #134 closed

[2019-03-12 19:14] enormandeau opened #135 "Read gzip compressed .sam or .mr files for input"
We have a few undergoing and planned bisulfite sequencing projects. These projects have a few hundred samples for species with gigabase+ size genomes. We found that Walt performed really well for the mapping but the fact that methpipe cannot use compressed input, for example `.mr.gz` files, is leading to huge demands in terms of disk space. Namely, as our first two projects are only started, we ar

[2019-04-23 01:32] andrewdavidsmith opened #136 "Behavior of methcounts when chroms missing from mapped read files"
This bug will only appear when dealing with very few reads. If there are no reads mapping to a particular chromosome, then that chromosome will not appear in the output. The intended behavior is to write all the sites to the output, with a count of 0.

[2019-04-23 01:37] andrewdavidsmith commented on #136
The solution to this issue might be as follows:

1. Keep an indicator (unordered_set) to show each chromosome encountered already.
2. Using the identity of the chromosome files, determine the set of possible chroms.
3. Keep a sorted order of chroms and when writing all tabulated counts for a given chromosome, determine if any have been skipped, and write their counts as 0s before writing the next

[2019-05-22 18:29] Surajuvm opened #137 "merge-methcounts producing massive file size is normal?"
Hello,

I am trying to use CGmap file produced from BSseeker2 pipeline to generate proportion table for differential methylation. I formatted the CGmap file to match the meth counts file. My meth counts file looks like this
[code]
I have ten such meth counts file which I want to merge in the proportion table. Each of these files are of size (0.5 - 0.8) gbs. I used the `merge-methcounts` function o

[2019-05-22 18:39] bdecato commented on #137
Hi Suraj,

Can you confirm the command you're using to output the proportion table?
And can you try with the -t (tabular) option if you have not already?

Thanks,

Ben

On Wed, May 22, 2019 at 2:30 PM Surajuvm <notifications@github.com> wrote:

--
--
Benjamin Decato, Ph.D.
Computational Biology Section,
Department of Biological Sciences,
University of Southern California
1050 Childs Way, RRI 408M

[2019-05-22 18:41] Surajuvm commented on #137
Hello Ben,

The command I used is

[code]
I used the -t option.

Thanks.

[2019-05-22 22:46] andrewdavidsmith commented on #137
This might happen if the sites in different files are interpreted as being different sites. @Surajuvm Can you head several of the files so we can look at the first 3 columns to ensure they are corresponding? Those are the ones that `merge-methcounts` uses to determine which rows should be merged and which ones should be kept separate. Similarly, please indicate the result of running head on the ou

[2019-05-22 23:02] Surajuvm commented on #137
Sure, these are the head of a different meth count files.
[code]
[code]
[code]
[code]
Here is the head of the output file.

[code]

To me, the files seem to be in proper order.

I talked to one of my colleagues about this problem, whom I know used Radmeth pipeline for her wgbs analysis. She said she had a similar problem while generating the proportion table when she used methpipe-3.4.3. However,

[2019-05-22 23:07] andrewdavidsmith commented on #137
Thanks very much for this info @Surajuvm. Can you email me directly about this?

[2019-05-23 13:07] #137 closed

[2019-05-28 01:12] andrewdavidsmith commented on #136
Fixed.

[2019-05-28 01:12] #136 closed

[2019-05-28 01:12] andrewdavidsmith commented on #133
This has been replaced with the recent updates to `merge-methcounts` so the redundant struct is removed.

[2019-05-28 01:12] #133 closed

[2019-05-28 01:15] andrewdavidsmith commented on #132
Fixed by @mengzhou

[2019-05-28 01:15] #132 closed

[2019-05-28 01:20] andrewdavidsmith commented on #91
@bdecato @xjlizji We need a test case for this: some case where the wrong behavior is observed. I suspect numerical issues can mean that we will not be able to see absolute convergence on some large data sets. When we see an extremely small (i.e. almost zero) reduction in likelihood, most of the time the program is behaving properly. I've tried to make sure we never have a reduction in likelihood,

[2019-05-28 01:21] andrewdavidsmith commented on #81
Closing this issue, as `merge-methcounts` has been rewritten since.

[2019-05-28 01:21] #81 closed

[2019-05-28 01:22] andrewdavidsmith commented on #93
Done.

[2019-05-28 01:22] #93 closed

[2019-05-28 01:23] andrewdavidsmith commented on #120
Deciding to stay with relatively recent gcc.

[2019-05-28 01:23] #120 closed

[2019-05-28 01:39] andrewdavidsmith commented on #90
Seems working now.

[2019-05-28 01:39] #90 closed

[2019-05-28 02:01] bdecato commented on #91
The lowest effort way to get a test case here would probably be to just include a warning when the likelihood "decreases" and then just wait for that warning to pop up in day-to-day work. Until then any very minor numerical issues wouldn't keep me up at night here.

[2019-05-28 02:45] andrewdavidsmith commented on #121
done

[2019-05-28 02:45] #121 closed

[2019-06-01 22:18] andrewdavidsmith opened #138 "[Cleanup TwoStatHMM.*pp] Function declarations include non-const, non-reference primitive types?"
@xjlizji @bdecato @mengzhou Does anyone know why certain functions (e.g. `TransitionPosteriors`) in the TwoStateHMM and related classes have parameters that are declared as `double` but without the `const` or without a reference? These seem like they don't need to change inside the functions, at least in one example I looked at. So I'm not sure why they are declared the way they are.

[2019-06-02 00:33] mengzhou commented on #138
Looks like they were defined as they are from the very beginning, like this one:
https://github.com/smithlabcode/methpipe/blame/master/src/common/TwoStateHMM.cpp#L736

[2019-06-02 20:36] andrewdavidsmith commented on #138
Can one of you fix this? Also, there is an instance variable `emission_correction_count` and rename the class from `TwoStateHMMB` to `TwoStateHMM`, which also means changing a couple lines in `hmr.cpp`?

[2019-06-04 22:28] andrewdavidsmith commented on #138
@xjlizji Did you take care of this?

[2019-06-04 22:41] xjlizji commented on #138
I fixed the const variable types and removed `emission_correction_count`. Do you mean we should change all `TwoStateHMMB` to `TwoStateHMM`? Just want to make sure.

[2019-06-04 22:41] andrewdavidsmith commented on #138
Yes. I think there is no reason to avoid using the `TwoStateHMM` and I can't even remember why there was a `B` version made at this point.

[2019-06-04 22:47] xjlizji commented on #138
Maybe for "Baum-Welch". Now all `TwoStateHMMB` are changed to `TwoStateHMM`

[2019-06-04 22:47] #138 closed

[2019-06-12 01:11] andrewdavidsmith opened #140 "hmr rep passing vectors by const value?"
Is there a reason why these are passed by const value instead of reference?

[code]

[2019-06-12 01:11] andrewdavidsmith opened #141 "hmr rep passing vectors by const value?"
Is there a reason why these are passed by const value instead of reference?
[code]

[2019-06-12 01:14] #140 closed

[2019-06-12 01:20] andrewdavidsmith commented on #141
Looks like these are not usually large vectors, as they are emission parameters, but I think they should be references.

[2019-06-15 22:25] andrewdavidsmith commented on #141
These instances should be identified and corrected. For non-primitive types the source code in `TwoStateHMM.*pp` files only involves large enough objects that they should all be passed as references when they are const.

[2019-06-18 21:43] sarvarip commented on #141
Solved by @andrewdavidsmith (https://github.com/smithlabcode/methpipe/commit/b4abae159f5d9430c869fe76cd55c8f618be1fdd)

[2019-06-18 21:43] #141 closed

[2019-06-30 02:19] yongchao opened #142 "merge-methcounts split the same sites into different rows"
Hi

When I used the command the merge-methcounts, the same cytosine sites will appear in two different rows. This has been tested in two different computers and the most recent github and the the most release version 3.4.3

The following command used the attached toydata to reproduce the bug.
As you can see from the result file prop_table.txt,  The four sites ( KL568509.1:2238:+:CpG        KL56850

[2019-06-30 02:28] andrewdavidsmith commented on #142
@yongchao Thanks for pointing this out. I know the problem, and we will update the source. I will update merge-methcounts to check that the input files are properly sorted. In the meantime, if you do something like `sort -k 1,1 -k 2,2g -k 3,3` on your methcounts files before attempting the merge, it will probably work. I tried that on your toy data set, and it worked. Thanks for reporting this!

[2019-06-30 02:39] yongchao commented on #142
The input data has already been sorted by `sort -k1,1 -k2,2n`. Your sort command doesn't change the input file anyhow. I tried your sort command and ran the merge-counts in the new files and it still had the same bug.

[2019-06-30 02:56] yongchao commented on #142
@andrewdavidsmith Look forward to your update on the code.

[2019-06-30 04:48] andrewdavidsmith commented on #142
Try checking the sorting locale. Make sure it’s as specified in the manual.

[2019-06-30 09:09] yongchao commented on #142
I now recompile the program after "export LC_ALL=C" and "export LANG=C"  to make sure the code was recompiled under the same locale. and also these same two settings (LC_ALL and LANG) to run sort and other commands.

Now the problem is gone. Thanks for pointing the locale setting.

[2019-06-30 18:57] andrewdavidsmith commented on #142
@yongchao Can you confirm that recompiling the code was necessary? And not that sorting with the right locale was sufficient? I don't want to give incorrect advice on this issue.

[2019-06-30 18:58] andrewdavidsmith commented on #142
@sarvarip Can you please look at this code and see if you think it will solve the issue:
[code]

[2019-07-01 02:50] yongchao commented on #142
@andrewdavidsmith I  recompiled the code under the problematic locale "en_US.UTF-8" and  I can confirm that sorting with locale "C" is sufficient.

I was a little bit of paranoid earlier as I have already been bitten by the locale setting for a couple of times for other software (requiring setting both LC_ALL and LANG to C). In linux environment, most software is happy with locale C. The setting o

[2019-07-01 03:00] andrewdavidsmith commented on #142
@yongchao Thanks very much -- that's helpful info!

[2019-07-01 09:55] yongchao commented on #142
Based on the whole thread

I will replace the message

`throw runtime_error("error: sites not sorted in " + filenames[i]);`

to

`throw runtime_error("error: sites not sorted in " + filenames[i]+"\n please sort it by \" LC_ALL=C sort -k1,1 -k2,2g -k3,3\"");`

[2019-07-01 17:00] #142 closed

[2019-08-11 19:25] andrewdavidsmith commented on #135
I think this works now @enormandeau for most of the tools. Sorry it took so long, but I hope we can get more feedback from you in the future.

[2019-08-11 19:25] #135 closed

[2019-08-11 19:25] andrewdavidsmith commented on #131
Updates to using HTSlib should have fixed this.

[2019-08-11 19:25] #131 closed

[2019-08-11 20:13] andrewdavidsmith commented on #128
Fixed in commit https://github.com/smithlabcode/methpipe/commit/48690d78350d6f930ca922b60544c3a2b8eb164f.

[2019-08-11 20:13] #128 closed

[2019-08-11 20:14] andrewdavidsmith commented on #111
Can anyone confirm if this is still happening?

[2019-08-11 20:14] #101 closed

[2019-08-11 20:16] andrewdavidsmith commented on #125
I think @mengzhou was correct. This seems to have been an error that was fixed in https://github.com/smithlabcode/methpipe/commit/628b3b2a003b73ce796a816d33ce4a9107aeb612.

[2019-08-11 20:16] #125 closed

[2019-08-11 20:20] andrewdavidsmith commented on #117
This issue is not clearly stated. It seems like a general request for help in usage of a tool, and guidelines for doing analysis, rather than an issue.

[2019-08-11 20:20] #117 closed

[2019-08-12 12:40] enormandeau commented on #135
Thanks for this update. I think this should be very useful for all methpipe users. I don't know if I will personally have to use WALT / methpipe but when students / postdocs use it I will make sure they use 4.0.0

[2019-10-22 20:16] xjlizji opened #143 "Unsynchronized update of parameters"
The emission parameters are updated in `single_iteration`:
[code]
But the transition parameters are updated outside `single_iteration` after
a convergence check:
[code]
So when the converging condition is met, emission parameters will still
get updated while transition parameters are kept same to the previous iteration.

[2019-10-28 18:09] terencewtli commented on #143
we could move the entire emission re-estimation inside single_iteration to the else statement after convergence check?

[2019-11-15 03:01] soleilll opened #144 "MLML problems"
hello！
I have only two types of input are available,so i  use them  with the following command:
mlml -u M7_RRBS.meth -m M7_oxRRBS.sort.meth -o test

but it said “mlml: mlml.cpp:509: int main(int, const char**): Assertion `f_chr == s_chr && f_pos == s_pos' failed.Aborted (core dumped)”

So would you please help me with these error？thank you very much！！！

[2019-11-19 19:21] terencewtli commented on #144
Hi! Could you give us some guidance so we can reproduce the error? If you can find the line in the input files that give this error, that would be great. Running ```head -n 100 your_file``` on both input files might help too.

[2019-11-19 19:30] terencewtli commented on #144
I've updated the code to throw a runtime error. Could you run it and show us the output?

[2019-11-19 20:08] terencewtli commented on #144
Right now, we suspect that the files are not sorted the same way. Could you confirm that both files are sorted using the same locale?

[2019-11-20 05:35] Soleilcode commented on #144
@terencewtli
Hi！ I'm sorry for the late reply. I have been delayed in some matters these days.
I checked my files.I downloaded the test file and I generated a new file in the format of this file. Then sorted them with the code `sort -k1,1 -k2,2n my_file`. Finally,it works! But i forgot to filter my data with the coverage, so i got many 100% hmc. Anyway, it is another question. I have solved this m

[2019-11-20 05:43] terencewtli commented on #144
No problem! Glad it worked!!

[2019-11-20 05:43] #144 closed

[2019-11-21 22:00] akmorrow13 opened #145 "methdiff output format: inconsistency between coverage and methylated read counts"
The [methpipe manual](http://smithlabresearch.org/downloads/methpipe-manual.pdf) on page 11 states the methdiff columns. The columns include the coverage and the methylated read counts for a given sample. However, in the example, the methylated counts can be greater than the coverage. I have also noticed after running on my own data the coverage can be 0, but the number of methylated reads is > 0.

[2019-11-22 14:29] mengzhou commented on #145
Thanks for catching this. I can confirm that the four columns after the probability are: A_meth_reads, A_unmeth_reads, B_meth_reads, B_unmeth_reads (see codes https://github.com/smithlabcode/methpipe/blob/master/src/radmeth/methdiff.cpp#L89). The manual is not correct.
@terencewtli can you help updating the manual?

[2019-11-22 19:27] terencewtli commented on #145
I'll get to it today!

[2019-11-22 19:38] tsengale opened #146 "Reading in symmetric CpGs into hmr"
When reading in symmetric CpGs into hmr, if any line contains a non-symmetric CpG, the program should fail gracefully.

[2019-11-22 19:50] akmorrow13 commented on #145
Thanks @terencewtli and @mengzhou, that makes a lot more sense!

[2019-11-22 20:30] terencewtli commented on #146
Hi, thank you for bringing this up! I am working on this right now and will get back to you.

[2019-11-22 21:05] terencewtli commented on #145
Hi @akmorrow13! We are working on changing the Methpipe manual on our website because that one is outdated. The manual in this repository is our most updated one and has the change that @mengzhou was talking about - for now, please refer to that one (located in docs). Thanks again for the feedback!

[2019-11-23 20:43] terencewtli commented on #145
The methpipe manual on smithlabresearch.org has now been updated to the most recent one with the updated descriptions of the methdiff columns.

[2019-11-23 20:43] #145 closed

[2019-11-30 07:03] terencewtli commented on #146
We have updated the code to report an error if there are non-symmetric CpGs. Please pull our code for the new update. Thanks for your feedback!

[2019-11-30 07:03] #146 closed

[2019-11-30 07:05] terencewtli commented on #126
which one should be changed?

[2019-12-04 14:52] fitart opened #147 "to-mr program for bsmap"
Hello, I tried to convert .bam file (from bsmap) into .mr using 'to-mr' command from both Major release 4.0.0 and methpipe-3.4.3, so I replaced the following command with my file name.
$ to-mr -o Human_NHFF.mr -m bsmap Human_NHFF.bam

However, it returned the following message.
"bsmap no longer supported [use general]"

According to the user manual, it should work. I am wondering if bsmap can be s

[2019-12-12 19:40] mengzhou commented on #147
Hi, thanks for using methpipe. We decided to integrate the support for bsmap with "general" because of some format incompatibility. Please use `to-mr -m general` with your file and see if it works fine.

[2020-02-12 15:58] SDeans0 opened #148 "Radmeth Merge DMR Criterion"
Hi,

Thanks for making such an approachable tool.

I was wondering about the exact criteria for calling a DMR in radmeth merge. I noticed in the code that at least one of the sites in the DMR [is required](https://github.com/smithlabcode/methpipe/blob/aa21269790513ec121172da60737dab3f9c74c4c/src/radmeth/radmeth.cpp#L498) to have been [significant at the set FDR cutoff level](https://github.com/smi

[2020-04-20 13:49] grrompala opened #149 "mlml error mlml:cpp:244:void expectation...."
Hi,

I am trying to understand the following error when running mlml through methpipe-3.4.3 installed on my HTC cluster (and using the module for gsl/2.2.1):

mlml: mlml.cpp:244: void expectation(size_t, double, double, std::vector<double>&): Assertion `p + q < 1.0' failed

Here is the command:
./mlml -v -u BSs.txt -m OXs.txt -o PLEASE.WORK.TXT

Here is what my input looks like ( I cleaved to 5 en

[2020-04-20 14:21] grrompala commented on #149
Maybe I am closer now.. I modfied the above to Bed file format so mlml runs without error but produces all nan values...

./mlml -v -u BS.bed -m OX.bed -o LAST.TRY.TXT
[rompag01@li03c01 bin]$ cat  LAST.TRY.TXT
chr1    10497   10498   nan     nan     nan     nan
chr1    10525   10526   nan     nan     nan     nan
chr1    10542   10543   nan     nan     nan     nan
chr1    10563   10564   nan     na

[2020-04-20 14:49] #149 closed

[2020-05-28 21:00] lauzikaite opened #150 "tar.gz file"
Hi!

The link for the latest stable release tar.gz file provided in the README is not taking me anywhere... Would you be able to provide a working link for that? Since the version on the http://smithlabresearch.org/software/methpipe/ website is only 3.4.3.

Similarly, I cannot find a link to the tar.gz file for the `smithlab_cpp` library.

Thank you in advance for your reply.

[2020-06-01 16:54] terencewtli commented on #150
Hi! Here's the link to our most recent release, 4.0.0.
https://github.com/smithlabcode/methpipe/issues/150

This is the link to the most recent smithlab_cpp release.
https://github.com/smithlabcode/smithlab_cpp/releases

[2020-06-02 12:04] lauzikaite commented on #150
Thanks!

[2020-06-02 12:04] #150 closed

[2020-06-04 20:04] aganve opened #151 "Where is headers within libsmithlab_cpp-1.0.2?"
Hello,

I am at this step of installing methpipe
`$ ../configure --prefix=/some/reasonable/place \
    CPPFLAGS='-I /path/to/smithlab_cpp/headers' \
    LDFLAGS='-L/path/to/smithlab_cpp/lib'`

but do not see a directory where the smithlab_cpp headers can be found. I see `lib` but no `headers`

Therefore, I get the following error:

Failed to locate smithlab_cpp on your system. Please use the LDFLA

[2020-06-04 20:28] juheon opened #152 "Methylation level calculation for PMD"
I want to make sure how the methylation level of each bin is calculated for PMDs.
According to the manual, "The program calculates in nonoverlapping bins the total methylated and unmethylated read counts.".
Does it mean "Total number of methylated reads in each bin" / "Total number of reads in each bin"?
Or, do you calculate the methylation level of each CpG and calculates the mean of all CpGs in

[2020-06-04 20:34] bdecato commented on #152
Hi Juheon,

It's the total number of methylated reads in each bin divided by the total coverage of the bin.

Thanks,

Ben

[2020-06-04 20:34] #152 closed

[2020-06-04 22:21] guilhermesena1 commented on #151
Hi aganve,

thank you for the message, this definitely does seem like an improvement for readme is necessary. Compiling smithlab_cpp should not generate a headers directory, and if you install it to some outside directory, the cpps and hpps should be inside the include directory. Does replacing `headers` with `include` in your `configure` command work successfully?

[2020-06-05 01:17] juheon commented on #152
Thank you!

On Thu, Jun 4, 2020 at 3:34 PM Benjamin Decato <notifications@github.com>
wrote:

[2020-06-30 23:30] andrewdavidsmith opened #153 "methcounts reporting no reads for a chrom when chroms are missing"
When chromosomes are missing, it seems like `methcounts` is reporting that there are no reads for the next chromosome that has reads. For example, after processing reads for chr10, and when chr10_GL383545v1_alt is among the mapped reads, but not in the fasta genome file, it will be reported that there are no reads for chr11, when the correct message is that chr10_GL383545v1_alt cannot be found.

[2020-08-07 23:37] masarunakajima commented on #153
If no one is working on this issue, I would like to look into it.

[2020-08-18 18:35] surak opened #154 "Incomplete files"
The https://github.com/smithlabcode/methpipe/releases/download/v4.1.1/methpipe-4.1.1.tar.gz is complete, but the other files on the same link are missing the recursive parts: here: https://github.com/smithlabcode/methpipe/releases

[2020-08-18 18:55] andrewdavidsmith commented on #154
@surak We are aware of those, we don't like them, and will try to get rid of them in the future. But for now, they will appear when we make a release. GitHub auto-generates them from the tagged commit associated with a release. Again, we will keep looking for other work-arounds, but please ignore them and only use the "release" (which is numbered) and not the auto-archived source (which is not).

[2020-08-18 18:55] #154 closed

[2020-08-19 03:28] terencewtli opened #155 "duplicate-remover: include information from SAM header"
SAM format stores record of all programs that processed the file - we need to make sure this information is included in `duplicate-remover`.

[2020-08-20 02:11] guilhermesena1 opened #156 "bsrate_sam takes a long time if input has random chrom distribution"
bsrate should fail if it sees two non-continuous chromosomes as it will take a very long time to finish processing if reads are not grouped by chromosome

[2020-08-20 02:15] guilhermesena1 commented on #156
fixed with 37a6f01ea8279c394507c0e24b98718778b886b7

[2020-08-20 02:15] #156 closed

[2020-08-20 14:33] mengzhou commented on #156
How about checking for an index file? For BAM you can only index it after sorting, so requiring for an index automatically ensures sorting. I know you are working on SAM, just a thought.

[2020-08-20 14:57] andrewdavidsmith commented on #156
I think the original idea is still the easiest, and probably the only one that will always work -- just specify sorted order is required and report a failure if not. I don't think any other way will work, unless it requires more constraints on the users. This is how most versions have functioned.

[2020-08-20 18:29] andrewdavidsmith opened #157 "format_reads too slow"
The code for `format_reads` was not written to be fast, but right now it's taking way too long. Part of it might have to do with the sequential searching done (repeatedly) to locate certain optional tags in each record. Other issues might be related to using the cigar repeatedly to extract information about positions within the reference. This needs to be faster.

[2020-08-20 23:53] terencewtli opened #158 "mac warning in TwoStateHMM_PMD.cpp"
When I type `make` on most recent clone of methpipe, I get this error:

`delete called on 'EmissionDistribution' that is abstract but has non-virtual destructor`

The offending line: `TwoStateHMM_PMD.cpp:97:45: vector<unique_ptr<EmissionDistribution> > fg_distro;`

mac version: catalina 10.15.3

gcc version:
`Apple clang version 11.0.0 (clang-1100.0.33.17)`
`Target: x86_64-apple-darwin19.3.0`

Ful

[2020-09-01 22:16] guilhermesena1 opened #159 "duplicate-remover_sam not running when args are provided according to OptionParser"
OptionParser indicates that `duplicate-remover_sam` must be run as follows:

[code]

but when run with two leftover args, the program displays the help message

[2020-09-01 22:21] andrewdavidsmith commented on #159
Making the decision for now to require an input file name and an output file name.

[2020-09-01 22:21] #159 closed

[2020-09-01 22:40] guilhermesena1 opened #160 "duplicate-remover_sam must do the sorting based on end coordinate"
`samtools sort` does not provide tie breaking based on end coordinate, so `duplicate-remover` must group records with equal starting position, sort them by value of `cigar_rseq_ops` and find the duplicates when a new starting position is found.

[2020-09-04 19:37] guilhermesena1 commented on #155
fixed at 74bf6e06d106250fe34596767584d6071376a7b1

[2020-09-04 19:37] #155 closed

[2020-09-04 19:37] guilhermesena1 commented on #160
fixed at 74bf6e06d106250fe34596767584d6071376a7b1

[2020-09-04 19:37] #160 closed

[2020-09-08 18:15] bobia9991 opened #161 "Problem when running methcounts, pmd, etc!"
Hi SmithLab team!
I downloaded Test data, at http://smithlabresearch.org/software/methpipe/
After installed methpipe, I tested with downloaded data but had problems when running commands, such as methcounts; pmd; etc

**1. methcounts
methcounts  -o $rs/binh1.meth -c $gen/ -v $rs/snippet_uniq.mr
n_chrom_files: 1
n_chroms: 1
bad line in MappedRead file: chr22	29971	30072	FREDDYKRUEGER_0001:1:26:268:

[2020-09-09 23:54] terencewtli opened #162 "methcounts_sam not processing chr10 in a sample"
`methcounts_sam` does not process chr10 of a mouse sample. Not sure what exactly is going on, but I can provide the duplicate-removed `sam` file.

[2020-09-10 00:24] guilhermesena1 commented on #162
I think 18202db fixes it. Currently testing to confirm

[2020-09-10 19:26] #162 closed

[2020-09-11 03:04] Myskiper opened #163 "expected class-name before ‘(’ token SMITHLABException"
I want to install version 4.1.1, but get error

 CXX      GenomicRegion.lo
In file included from ../../../src/smithlab_cpp/GenomicRegion.hpp:27:0,
                 from ../../../src/smithlab_cpp/GenomicRegion.cpp:23:
../../../src/smithlab_cpp/smithlab_utils.hpp:296:54: error：expected class-name before ‘{’ token
 struct SMITHLABException : public std::runtime_error {

[2020-09-11 03:37] andrewdavidsmith commented on #163
Can you confirm the version of your compiler, by providing the output to `g++ --version`?

[2020-09-14 01:22] Myskiper commented on #163
I use the conmand configure CXX=/share/app/gcc-4.9.3/bin/gcc, So the version of gcc is 4.9.3;

[2020-09-15 20:48] hchetia opened #164 "Unable to make & make install"
Hi,
I am trying to install methpipe in linux.
I am successfully through the configure steps. At the make step, I get the following error-

make  all-recursive
make[1]: Entering directory `/rugpfs/fs0/hntz_lab/scratch/hchetia/softwares/methpipe-4.1.1/build'
Making all in src/smithlab_cpp
make[2]: Entering directory `/rugpfs/fs0/hntz_lab/scratch/hchetia/softwares/methpipe-4.1.1/build/src/smithlab_cp

[2020-09-15 20:50] terencewtli commented on #164
Hi, this looks like it might be a compiler version issue. Can you post the output of `g++ --version`?

[2020-09-16 00:13] andrewdavidsmith commented on #164
Looks like maybe it's from gcc 4.8.2. I'm not sure if c++11 is supported in that version, which would cause the problem for `regex`

[2020-09-16 19:59] hchetia commented on #164
Hi
The gcc version  is 4.9.4.

[2020-09-16 20:20] andrewdavidsmith commented on #164
Any chance you can directly show the output as requested above for g++? Also, there is 4.8.2 in the paths your compiler is trying to use to locate standard c++ headers (as shown in the error output). We use c++, not c, so if there is a discrepancy we need info on the g++ directly.

[2020-09-16 21:10] hchetia commented on #164
![image](https://user-images.githubusercontent.com/64626735/93392883-8cf95500-f83f-11ea-81eb-4023f1c5845e.png)
is this okay?

[2020-09-16 21:14] hchetia commented on #164
I am unsure why the compiler being used in 4.8.2!

[2020-09-16 21:24] andrewdavidsmith commented on #164
Yes. Thanks. We will see if we can figure out why you got that problem.

[2020-09-16 21:24] hchetia commented on #164
Thanks andrew.

[2020-09-18 00:53] eribue opened #165 "Question about design matrix"
Hi, I'm hoping to some help/confirmation on how to create a design matrix with more than two groups. In my experimental design, I have two factors (control and treated) each with three levels. Would this be the correct way to layout my design?
Thanks,
Erika

                                                     base                     case
MI3_R1_001_val_1_bismark_bt2_pe.bismark.cov.gz  1   1
MI2_

[2020-09-18 18:07] hchetia commented on #164
Hi I was wondering if you had an update on my issue. Thanks.

[2020-09-19 04:22] hchetia commented on #164
Hi I am using a Centos 6 system.
g++ -std=c++11 -o regex_test regex_test.cpp command failed to run. Sharing the output with this comment.
nohup.out

[2020-09-20 05:04] terencewtli commented on #164
Hi! Sorry for the late response - I'm not sure why the include headers and your compiler version are different, but I believe the issue ultimately boils down to your version of gcc not supporting the regex elements in our code. I am able to compile `methpipe` with 5.1.1 but unable to when I switch to gcc 4.8.1. Could you try running `make` on our code after switching to a newer version of gcc (may

[2020-09-20 05:41] andrewdavidsmith commented on #164
I think the conclusion here is the compiler is just too old, it’s really too old to be supporting anymore anyway.

[2020-09-20 05:41] #164 closed

[2020-09-20 05:44] terencewtli commented on #163
Hi - could you try installing methpipe with a newer version of gcc (5.x.x)?

[2020-09-20 17:51] andrewdavidsmith commented on #163
@Myskiper But `CXX` is supposed to point to a C++ compiler, and anything that looks like `bin/gcc` is probably a C compiler. The variable used in Makefiles for a C compiler is `CC`.

[2020-09-24 16:29] hchetia commented on #164
Hi,
I noticed that this issue was closed.
Just adding that I was able to build he program easily on my Mac OSX Catalina which uses gcc version 4.2.1.
Yet building it on the Centos OS that uses 4.8.1 somehow failed.

[2020-09-24 20:57] hchetia opened #166 "Error with test dataset"
Trying out the methpipe steps with test dataset-
After the sorting step with " sort -k1,1 -k2,2n -k3,3n -k6,6 snippet.mr -o t && mv t snippet.mr"
The next step with duplicate-remover gives an error-
Input not properly sorted:

![image](https://user-images.githubusercontent.com/64626735/94199536-f81dd980-fe86-11ea-920a-7903b520d84b.png)

[2020-09-24 21:00] andrewdavidsmith commented on #166
@hchetia Did you make sure to set the "locale" properly? I think that's in the manual. I can't look it up right now, but I'm pretty sure it's specified.

[2020-09-24 21:10] terencewtli commented on #166
Hi, before `sort`, please type in `LC_ALL=C`. Let us know if that works.

[2020-09-24 21:21] hchetia commented on #166
Hi yes that worked.
Could you please clarify what the flag LC_ALL=C does?

[2020-09-24 21:39] andrewdavidsmith commented on #166
The locale determines several behaviors of the system in relation to language, country, character encoding, etc. You can find lots of info about this with google, but basically the `LC_ALL=C` sets most aspects of your locale (for that command; can also be exported I guess) to the one assumed by the `C` language, which is usually considered the simplest, and is most consistent with the default enco

[2020-09-24 21:41] hchetia commented on #166
Thanks for that clarification Andrew.
Adding another error snapshot here-
This time with "hmr"
![image](https://user-images.githubusercontent.com/64626735/94203263-138be300-fe8d-11ea-9b80-1d55d0edc865.png)

[2020-09-24 21:41] andrewdavidsmith commented on #166
@hchetia Can you create a separate issue for that? I'll close this one.

[2020-09-24 21:41] #166 closed

[2020-09-24 21:42] hchetia opened #167 "Error running hmr & pmd"
Running into an error while identifying hypo-methylated regions in "test dataset".
Snapshot attached.
![image](https://user-images.githubusercontent.com/64626735/94203388-4fbf4380-fe8d-11ea-819d-e2c8924745de.png)

[2020-09-24 21:44] hchetia commented on #167
Similar error with "pmd"
![image](https://user-images.githubusercontent.com/64626735/94203527-8eed9480-fe8d-11ea-9136-79b894cfdedb.png)

[2020-09-24 21:47] hchetia opened #168 ""hmr_plant" absent"
Hi I was not able to build "hmr_plant" command to run with the test dataset. Is it missing from methpipe 4.1.1?

[2020-09-24 21:54] andrewdavidsmith commented on #167
Thanks @hchetia for this! This is an out-dated file format. I would not be surprised if we have forgotten to update something. Can you please give me the source of the file used here? If it was one of our example files, we will need to replace it ASAP. Our current methcounts output format is not the same as a bed format any more, because we now include the context of the site (e.g. CpG, CHH, etc.)

[2020-09-24 22:44] terencewtli commented on #167
Hi @hchetia,

Thank you for pointing this out. I have just updated the methpipe test data. You can try redownloading and running `hmr` and `pmd` on the respective samples.

[2020-09-24 22:48] terencewtli commented on #168
Hi,

Could you show me the documentation you're reading for methpipe? In our manual, we have a section that discusses plant methylation and which programs to use. I believe `hmr_plant` is referring to our `hyper_mr` program. However, the manual also mentions that you can find the blocks of hyper-methylated CpGs by inverting the methylation levels and running `hmr` on the sample.

[2020-09-25 02:06] hchetia commented on #168
I was using the Readme.txt with the test dataset. Thanks for clearing that up. Hyper_mr works fine.

[2020-09-25 02:07] terencewtli commented on #168
I see - I will edit that as well. Thanks for pointing that out!

[2020-09-25 02:07] #168 closed

[2020-09-25 02:26] hchetia commented on #167
Both hmr and pmd runs successfully on the new test data. Just want to add that the Readme.txt accompanying the test dataset should also be updated for the hmr_plant command.

[2020-09-25 03:45] hchetia opened #169 "compilation with gcc 10"
Compilation of the package failed with gcc 10.

[2020-09-27 01:14] terencewtli commented on #167
I will fix that. Thank you!

[2020-09-27 01:14] #167 closed

[2020-09-27 23:28] andrewdavidsmith commented on #169
Worked fine for me with `g++-10` installed through `apt` and selected with `./configure CXX=g++-10 --disable-silent-rules` after which all the output showed that it was using `g++-10` to compile, and no difference in the output compared with other versions of gcc. Please include more details. Below is the uname for the machine and the bottom lines of the compile output (which appear because of the

[2020-09-27 23:30] andrewdavidsmith commented on #169
Uname info: `Linux 4 5.4.0-47-generic #51-Ubuntu SMP Fri Sep 4 19:50:52 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

[2020-09-28 23:07] hchetia commented on #169
Worked for me too. Used spack to build it. Thanks.

[2020-09-28 23:13] #169 closed

[2020-11-02 08:23] Myskiper commented on #163
Thanks,I change the GCC to 5.2.0, install successful!

[2020-11-04 13:09] kashiff007 opened #170 "Assigning of reads into um: unmethylated-methylated and mu: methylated-unmethylated to its alleles by 'allelicmeth'"
Hi I have started working with ASM recently and found methpipe is the easiest and most convenient way to find it. Although the 'allelicmeth' is quite fast and I also understand the output but I am unable to find how ASM probability score is calculated? I am also wondering how allelicmeth assign the reads into um: unmethylated-methylated and mu: methylated-unmethylated to their respective alleles?

[2020-11-04 16:13] andrewdavidsmith commented on #170
We can look at the documentation again and add more content. I suspect you are right about us missing something. One key point: no individual read is given a “call” of methylated or unmethylated. In fact, the two alleles need not be a “methylated” vs “unmethylated” allele. They could simply be two distinct methylation patterns. Of course in reality it’s always high vs low methylation. Regarding th

[2020-11-04 17:09] andrewdavidsmith commented on #170
@kashiff007 can you let me know if your reason for wanting "calls" on reads to "U" or "M" is for (a) visualization or (b) downstream analysis? Depending on the answer, we might be able to suggest an approach, and document it, even if we don't include it directly within an existing tool.

[2020-11-04 17:19] #163 closed

[2020-11-04 20:33] kashiff007 commented on #170
thanks for the quick response @andrewdavidsmith . I wanted to look for allele specific methylation for my samples from BS-seq reads. First, along with methpipe, I used several other software to find genome-wide methylation and based on their location correlate them with corresponding gene expression. But now I suspect (which has a higher chance to be true in many location) that several methylation

[2020-11-04 20:36] andrewdavidsmith commented on #170
Ok. We will make sure the documentation is clear on what those numbers mean. Shouldn't take us too long.

[2021-02-26 01:31] xxzzwan opened #172 "”bad line in MappedRead file” when using bsrate function"
Hi,
I got an issue with bsrate function saying "bad line in MappedRead file". I had changed my bam file mapped by bismark using to-mr function, and when I used bsrate I got this problem. I wonder what is a good MappedRead file format for bsrate or to-mr.
The issue is as follows.
`bad line in MappedRead file: chr1	10003	10122	FRAG:A00184:657:HKFNHDSXY:4:2360:5873:7686_1:N:0:TCCTGAGC+GCGATCTA:trim_o

[2021-02-26 03:38] guilhermesena1 commented on #172
Hello,

That is indeed a little strange. I copied the line you provided onto an mr file and ran bsrate on the human genome and it ran to completion. Could you confirm (1) the version of methpipe you are using (cloned from repository? Release 4.1.1?) (2) the reference genome you ran bsrate on and (3) if possible, could you also provide the 10 first lines of your mr output (e.g. using `head`?)

Than

[2021-02-26 16:02] xxzzwan commented on #172
Hello,
Thanks a Lot for your kind help! I’ve solved this issue on linux system, with the same command, reference and files. It’s kind of strange hhh. Before it’s on Mac OS Catalina system. Maybe it’s the gcc version that matters. Can I ask you another small question? When using bsrate, is the -c reference C-T converted genome fa file or G-A conversion? Or just the original reference genome?

Best

[2021-02-26 16:50] guilhermesena1 commented on #172
Hello,

Indeed it might be a compiler-specific issue. We can look into it if we have the output of your `g++ --version` in the mac you tested. Other users may run into the same issue. We are also working on making the runtime error messages a little more specific so both we and the users have a better idea of the specific formatting error that triggered the failure when one does occur.

For the bs

[2021-02-28 06:27] xxzzwan commented on #172
Hello,
My g++ version on Mac OS shows like this.
g++ --version
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/c++/4.2.1
Apple clang version 11.0.0 (clang-1100.0.33.17)
Target: x86_64-apple-darwin19.6.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

There’s no pr

[2021-03-01 02:35] guilhermesena1 commented on #172
Hi,

So this error occurs because you are probably giving a FASTA file containing just the spike-in DNA, and the program is reporting that this genome is not the same you mapped your reads to, as it does not contain chromosome 1.

To use lambda spike-in, you should map your reads to a concatenation of your original reference genome and the spike-in reference. Then, once you convert your SAM file t

[2021-03-01 07:28] xxzzwan commented on #161
Same with you. I also used MacOS Catalina. But after using linux system, there's no such problem. Maybe it's a system version issue!

[2021-03-01 15:10] xxzzwan commented on #172
Thanks a lot for your kind help! The problem is solved and this issue can be closed. Thank you again!

[2021-03-01 17:01] #172 closed

[2021-03-05 13:59] xxzzwan opened #173 "to-mr cannot transform successfully instead of generating a null .mr file"
Hi,
I met a problem with to-mr transforming bam file to .mr file on centos server.  I've set up all the environment the methpipe needs and installed methpipe successfully on the server. However when I used "`to-mr -o /path/name.mr -m bismark /path/mybam.bam`" command, it only run 3 minutes and wrote a null .mr file as output.
`-rw-rw-r--. 1 zx zx           0 3月   4 23:27 lz1895n.mr`
My bam file pa

[2021-03-05 14:02] xxzzwan commented on #173
Also, the g++ version on my centos server is 5.3.0.
On my macos system, the g++ version shows as follows.
[code]

[2021-03-11 20:18] weishwu commented on #173
Did you figure it out? I'm having the same problem. There is no error message but the output *.mr file is empty.

[2021-03-12 01:34] xxzzwan commented on #173
With version 4.1.1, no. I've downloaded the pre-release version 4.1.2 and used format_reads instead and it worked. Guess it's the bug inside the pipeline and they fixed. Hope it could help!

[2021-04-02 07:34] kashiff007 opened #174 "MethPipe ASM score query"
Dear MethPipe Team,

I am using methylkit and struggling to understand ASM score from allelicmeth output.

I know the probability score of ASM varies from 0 to 1 and lower score means lower ASM and higher means higher ASM. At the same time I understand higher ASM means higher number of MU and UM reads.

But many tuples from allelicmeth output are confusing. for example:

[code]

Here why ASM score

[2021-04-12 23:01] vagan21 opened #175 "How are you defining a hypomethylated region numerically?"
Hello,
In your documentation you say that you call hypomethylated regions (HMRs) using the hidden markov model with the hmr program. Nowhere do you say what is the numeric range that this model uses for classifying what is an HMR. I'm looking for an answer like, "Genomic regions that are anywhere between 5 and 20% methylated are considered HMRs." What is this range for HMRs? And also, what it woul

[2021-04-19 00:16] bdecato commented on #175
Hi @vagan21,

The strength of our hidden Markov model approach is that we do not use a predefined range for classifying an HMR: we learn it from the data, and therefore the mean methylation level inside and outside of HMRs (or hyperMRs) will differ from sample to sample, but represent the highest likelihood segmentation of the data into two beta-binomial emission distributions.

You can take a loo

[2021-04-19 00:16] #175 closed

[2021-04-21 06:06] cheehowteo opened #176 "Problem with methcounts!"
Dear author of methpipe,

Good day!

I am using methpipe for my methylation analysis and I have encountered a problem during methcounts stage. The error message I received was "could not find chrom: Contig0_pilon". I did supplied the reference contigs used for bismark with parameter -c and Contig0_pilon is in my reference contig fasta file. May I know how can I solve this problem?

Thank you.

Bes

[2021-04-23 07:53] shashwatsahay opened #177 "Methcounts: problem with chrom order in mapped reads"
I have been trying to run methcounts and I have divided the dataset chromosome wise for faster run computation on our cluster but every time I run the command I get the error "problem with chrom order in mapped reads" what I don't understand if there is not more than a single chromosome in the file being processed how can this be an error?

[2021-04-28 14:52] mariazanti opened #178 "Issue with mlml"
Dear developer,

During analysis for oxBs and BS seq data, I am encountering the following error:

chrom    start   end     pm      ph      pu      #_of_conflict
bad methpipe site line: "

Do you know why and how I can solve it?

[2021-05-01 19:41] terencewtli commented on #178
It looks like an issue with reading in the data rather than with MLML itself. Would you be able to provide the files for me to test?

[2021-05-01 19:45] terencewtli commented on #177
Hi, which version of Methpipe are you using? And would you be able to provide the files for me to test?

[2021-05-07 08:10] shashwatsahay commented on #177
I am using the current version of methpipe. But I solved the issue by directly providing individual chromosome file instead of the whole genome

[2021-05-07 08:10] #177 closed

[2021-05-07 08:31] shashwatsahay opened #179 "Memory Error when calling pmd"
Hi Again, I am currently running the pmd submodule on the output of symmetric-cpg and I am doing these chromosomes wise. It runs well for all the other chromosome other than for chromosome 22 for all of my samples. The problem as I seem to understand is the program is running out of memory  (372 GB's of it)

I am attaching two files from different sample containing the truncated output (first and

[2021-05-18 19:42] terencewtli commented on #176
Hi, would you be able to provide more information? Maybe the full command that you used and a subset of your file/reference contig?

[2021-05-27 16:02] andrewdavidsmith opened #180 "Problem building with original Makefiles"
If make is done from a clone of the repo and not using an autotools build, there is no way to pass `LDFLAGS`, `CPPFLAGS`, etc., to the make process.

[2021-05-27 16:02] andrewdavidsmith opened #181 "Submodule in detached head state"
On recursive clone, the `smithlab_cpp` comes with a detached head.

[2021-05-27 16:10] andrewdavidsmith opened #182 "Failing to do recursive configuration for sam_pre_release branch"

[2021-05-27 20:21] terencewtli commented on #180
I think if we include `$(CPPFLAGS)` and `$(LDFLAGS)` in the wildcard expansion lines, it should work. Like this:
[code]

[2021-05-27 20:26] andrewdavidsmith commented on #180
I think there are two parts to this (1) we should be using the appropriate variable names to conform to GNU auto tools stuff, and (2) we need to be able to have them passed in by the users on the make command line.

I think your solution above solves the problem, but we need to be clear on whether they should be entirely overridden by a user or just allow a user to update them (with other things a

[2021-05-27 21:06] terencewtli commented on #182
`autoreconf -i` does not produce these two lines (which I believe are needed for `smithlab_cpp`) in the current `sam_pre_release` clone:
[code]
I thought it was because of this line, but it's identical in both `configure.ac` versions in current clone and methpipe-4.1.2:

```AX_SUBDIRS_CONFIGURE([src/smithlab_cpp], [--enable-hts])```

[2021-05-27 21:21] terencewtli commented on #181
Aren't detached heads normal for submodules?

[2021-06-04 18:08] #69 closed

[2021-06-04 18:09] #111 closed

[2021-06-04 18:50] #18 closed

[2021-06-04 18:52] #147 closed

[2021-06-07 14:51] hchetia commented on #177
Hi, I am not sure if I need to open a new issue or not, but my problem is the same.
I am getting the error "problem with chrom order in mapped reads" despite using the individual chromosome fasta files. I am using the v4.1.2-alpha version.
The steps prior to the methcount step were ran with the fullmoonlizard version.
Please help.

[2021-06-14 19:42] guilhermesena1 opened #183 "incompatible behavior between abismal and methpipe with chrom names"
When abismal maps reads to a FASTA file with chromosome names containing spaces, it keeps only the first word in the chromosome name as its RNAME field. If  passed onto methpipe programs (e.g. `methcounts` or `bsrate`) and the same reference is used, the chromosome names in the SAM file, which contain only the first word, are not found in the reference.

Suggested fix: Change `read_fasta_file` in

[2021-06-16 01:47] andrewdavidsmith commented on #183
Fixed with the `read_fasta_file_short_names` function instead.

[2021-06-16 01:47] #183 closed

[2021-06-16 01:48] andrewdavidsmith commented on #180
Fixed by using `CPPFLAGS`, `LDFLAGS`, and `LDLIBS`, along with `override CPPFLAGS += $(INCLUDEARGS)` style for updating these vars from command line.

[2021-06-16 01:48] #180 closed

[2021-06-16 02:43] guilhermesena1 commented on #181
I updated the `smithlab_cpp` submodules on both branches and that should fix the problem

[2021-06-16 02:43] #181 closed

[2021-06-16 02:56] guilhermesena1 commented on #182
I can reproduce this when cloning and using `autoreconf -i`, which gives me the log below. However, if I go to `src/smithlab_cpp` and run `autoreconf -i` there as well, the recursive configuration works fine.

If that is the source of the problem, I think we just need to make clear that, if the repo is cloned and the user wishes to use autotools, it needs to be run in both those directories.

[2021-06-23 22:09] hchetia commented on #183
Could this issue also happen with bismark outputs? I get the error chromosome in SAM file not found in reference:chr1 when running methcounts command.
I am using methpipe v4.1.2 alpha.
The mr file was generated by converting the deduplicated bam file from bismark to sam using samtools and then converted to mr using format_reads.

[2021-06-23 22:11] hchetia opened #184 "Error "chromosome in SAM file not found in reference:chr1""
I get the error "chromosome in SAM file not found in reference:chr1 "when running methcounts command "methcounts -c /methpipe_reference/mm27 -o 1979.meth 1979.mr.sorted_start"
I am using methpipe v4.1.2 alpha.
The mr file was generated by converting the deduplicated bam file from bismark to sam using samtools; then converted to mr using format_reads and subsequently sorted to sorted_start.

[2021-06-23 22:12] hchetia commented on #184
Could issue #183 be related and do I have to reinstall my methpipe v4.1.2 alpha (since issue 183 was fixed only 8 days back).?

[2021-06-29 15:59] hchetia commented on #184
@andrewdavidsmith please advice! :)

[2021-06-29 17:36] guilhermesena1 commented on #91
labeling this as "enhancement" because I don't think this has been implemented yet. If I may chime in: If this is a correctly implemented EM then the likelihood should always increase, and if it decreases due to numerical reasons it should not be by a large value, so I agree with Ben that issuing a warning if it happens, but I don't agree that we need to use absolute value, if tolerance is too sma

[2021-06-29 18:56] guilhermesena1 commented on #124
is it still outdated? What shows in the manual as an example is:
[code]

When I run `mlml` without arguments I get

[code]

which seems to agree with the documentation example

[2021-06-29 18:59] #151 closed

[2021-06-29 19:00] guilhermesena1 commented on #153
this was fixed on the SAM pre release which will be merged, so closing it for now

[2021-06-29 19:00] #153 closed

[2021-06-29 19:01] guilhermesena1 commented on #157
this was also fixed on the SAM_pre_release, should be fine when we integrate the new `sam_rec` class that does not check for the validity of SAM entries

[2021-06-29 19:01] #157 closed

[2021-06-29 19:13] mengzhou commented on #124
I think the only part that looks outdated is the section mentioning the input format could be "... or BED format file with 6 columns..." on page 17 of the current document. I believe `mlml` now only accepts `methcounts` format.

[2021-06-29 19:39] guilhermesena1 commented on #124
ok I updated the manual at 66e6432 to reflect that BED is lo longer supported.

[2021-06-29 19:39] #124 closed

[2021-06-29 20:14] andrewdavidsmith commented on #184
I think I know the problem, and it should be fixed soon in general. But for now, can you check if the "name" lines of your original fasta format reference genome has text after the first space? I think some of our tools are parsing chromosome names differently. The intended behavior is to ignore text after the first whitespace character, but I think some of the tools are keeping any additional let

[2021-06-29 23:54] terencewtli commented on #158
Addressed in commit 556518a.

[2021-06-29 23:54] #158 closed

[2021-06-30 00:25] guilhermesena1 commented on #161
there seems to be a serious issue with mac IO and we will look into it to make sure we will circumvent this issue

[2021-06-30 02:37] guilhermesena1 commented on #170
Not sure if this is sufficient to close the issue but I have added a more descriptive explanation of the score in the manual. The score is a Fisher's exact test. Consider a 2 x 2 matrix with C/T in rows and columns and each element is the count of CCs, CTs, TCs and TTs. We test the hypothesis that the counts of CTs and TCs arise by chance through a Fisher's exact test. The rejection of this hypoth

[2021-06-30 02:37] #170 closed

[2021-06-30 02:39] guilhermesena1 commented on #173
Thank you for reporting this. We are on the process of merging version  4.1.2 alpha to a full release in which the mr file format will no longer be necessary. I will close this issue since `to-mr` will no longer exist but we'll be happy to assist if other problems may arise with SAM outputs in the next releases.

[2021-06-30 02:39] #173 closed

[2021-06-30 14:45] hchetia commented on #184
Yes.
It looks like this-

NNNN

NNNN

I am using /GRCh38.p13.genome.fa. What can do I to solve this problem for now? Would removing or concatenating the  headers as chr1_1 help?

[2021-06-30 14:49] hchetia commented on #184
Will try removing the white space using bbtools for now and follow up.

[2021-06-30 15:06] hchetia commented on #184
My bam file comes from aligning to the same genome but with white spaces in headers using bismark. Will that step need to replicated with this modified genome.fasta?

[2021-06-30 17:44] guilhermesena1 commented on #184
Hi @hchetia
You do not need to re-map or reanalyze your data, I think the simplest solution that could work is just to remove the spaces from your genome and pass that onto methcounts. For example, if your genome is called `genome.fa`, you can run
[code]

then pass `genome_nospaces.fa` to `methcounts` (or `bsrate`) along with your BAM/SAM/MR file. This should get rid of the problem. Please let us

[2021-06-30 20:42] PanZiwei opened #185 "Issue with mlml: `error: chrom or pos mismatch in both files`"
To whom it may concern,
I am trying to use mlml to analyze oxBS-seq and BS-seq data. But I encountered the error saying `error: chrom or pos mismatch in both files`.  So is there a way to solved the problem since my oxBS-seq is a reduced representation oxBS-seq(RRoxBS-seq)?
[code]

Also, if the strand is "-", will the 4th column be GpC instead of CpG?

Thank you so much for your help!

[2021-06-30 20:44] guilhermesena1 commented on #182
I think 983481a fixes this?

[2021-06-30 22:53] guilhermesena1 commented on #174
Hello,

This is an excellent question and one that we have addressed in more detail in our documentation.
The name "score" for the fifth column of the output is actually misleading, this value is actually a p-value from a Fisher's exact test on the probability that allele-specific methylation counts are observed by chance. When counts are 0, the p-value is 1, since no ASM is observed.

In other wo

[2021-06-30 23:06] guilhermesena1 commented on #185
Hello,

It looks like from the first 10 lines of your inputs, there are some CpGs that appear in one dataset but not in the other. Were these two files generated through `methcounts` followed by `symmetric-cpgs`? And was the `methcounts` program used for both samples on the same reference genome? We can try to pinpoint the source of the problem by looking at the number of lines generated at each s

[2021-07-01 02:54] PanZiwei commented on #185
Thank you so much for your explanation. The files are not generated by `methcounts`. So you are suggesting that I should follow the[tutorial](http://smithlabresearch.org/downloads/methpipe-manual.pdf) to use`methpipe` from very first beginning so that I can correctly use `mlml`? Apart from the [tutorial](http://smithlabresearch.org/downloads/methpipe-manual.pdf) and http://smithlabresearch.org/sof

[2021-07-01 07:09] kashiff007 commented on #174
Thanks for your simple and helpful explanation.
Best,
Kashif

[2021-07-01 18:24] guilhermesena1 commented on #185
I would strongly suggest you use the pipeline starting from your bismark SAM output up to the mlml program, it will probably be faster than trying to manually convert between file formats. You would only have to run `to-mr` to convert your bismark SAM file to MR, sort and remove duplicates from the resulting MR, run `methcounts`, `symmetric-cpgs` then `mlml`. Each program is a single command.

Met

[2021-07-01 22:54] andrewdavidsmith commented on #179
@shashwatsahay thanks for this issue. I think I understand the problem, and will hopefully be able to make a fix soon. On my end I'm able to see `pmd` working for many data sets, but I see the problem with the test data (thanks for that!). I suspect we don't want `pmd` to actually identify any pmds in data exactly as you have provided, but at the same time, it definitely shouldn't behave as it cur

[2021-07-02 18:06] PanZiwei commented on #185
Thank you so much for your help! I have two additional questions:
1. Should all the 5hmC/5mC/5C levels >=0?  I checked the mlml result I got from the BS-seq/oxBSseq without convergence tolerance, I found that the min value of 5hmC column is -1.11022e-16. Is it normal to have such a tiny negative value for 5hmC?
2. Is it necessary to set up convergence tolerance? Do you have any recommendations for

[2021-07-02 19:59] hchetia commented on #184
Hereby confirming that this strategy "changing the headers of genome file" worked and methcounts is running successfully.
Yes, using .mr was a mistake on my part.

Thanks to both of you. 👍

[2021-07-02 19:59] #184 closed

[2021-07-08 19:00] hchetia opened #186 "Error running hmr program on symmetric cpgs"
Hi
I am using sorted_symmetric_cpg.meth (xyz.meth)files to find HMRs in my dataset using the foll. command:
hmr -p xyz.hmr.params -o xyz.hmr xyz.meth

But I get the foll. error-

gsl: gamma.c:1249: ERROR: x too large to extract fraction part
Default GSL error handler invoked.

Best,
Hasna

[2021-07-08 20:04] terencewtli commented on #186
Hi,

Would you be willing to send your data to me?

[2021-07-09 02:45] hchetia commented on #186
Yes.
Do you want the symmetric cpg meth file?

[2021-07-09 06:29] terencewtli commented on #186
Yes, that would be great!

[2021-07-09 15:10] hchetia commented on #186
I will email it to you.

[2021-07-10 02:28] terencewtli commented on #186
My email is terence@usc.edu.

[2021-07-10 10:33] hchetia commented on #186
Hi Terence, I have sent the email. Thanks.

On Fri, Jul 9, 2021 at 10:28 PM Terence Li ***@***.***> wrote:

--
*-Dr. Hasnahana Chetia*
*Laboratory of Molecular Biology,*
*Rockefeller University,*
*New York, NY 10065, US*

[2021-07-11 21:07] #185 closed

[2021-07-12 19:57] hchetia opened #187 "meth to bed"
Hi,
I am trying to convert the meth file to bed for ultimately converting it to bigwigs.
The command provided in the manual  leads to an error-

awk: cmd. line:1: ’{print
awk: cmd. line:1: ^ invalid char '?' in expression

The command used is
awk -v OFS="\t" ’{print $1, $2, $2+1, $4":"$6, $5, $3}’ CpG_sorted_start.meth CpG_sorted_start.bw

Best,
Hasna

[2021-07-12 20:00] andrewdavidsmith commented on #187
Did you copy and paste into the terminal, or did you type it out?

[2021-07-12 20:13] hchetia commented on #187
I was copy pasting earlier, when I kept getting the error. Tried typing the whole command and it worked. Why so?

[2021-07-12 20:15] #187 closed

[2021-07-12 20:24] terencewtli commented on #186
Hi, I have not received it yet. Could you try resending it?

[2021-07-12 20:28] hchetia commented on #186
Just did! 👍

[2021-07-14 18:20] hchetia commented on #186
@terencewtli Hi Terence, I was wondering if you received the file and have any insights on why I might be facing this error?

[2021-07-14 20:52] terencewtli commented on #186
I'm sorry I forgot to respond! I have not received it yet... could you try resending it? Or maybe posting the file here?

[2021-07-14 20:54] hchetia commented on #186
Hi terence, I sent it twice. Could you please check junk or spam?
I sent is using academic email ID though.
I would rather send the file to you personally than post it here. If possible, could you share a gmail ID?

[2021-07-14 22:25] terencewtli commented on #186
I see... I still do not see it in my inbox. Here's another email: terenceli68@gmail.com .

[2021-07-14 22:29] hchetia commented on #186
Sent.

[2021-07-14 23:25] terencewtli commented on #186
Hi,

I checked out your file and it looks like none of the CpGs have any coverage (taken from our `levels` program):

[code]
  Likewise, the verbose output from `hmr` gives the following:
[code]
I believe the error has to do with the vector of CpGs being empty since none of them have coverage. Did something go wrong when running `methcounts` and `symmetric-cpgs`?

[2021-07-21 15:10] hchetia commented on #186
Hi Terence,
Thanks for spotting that out.
Will check the outputs from the previous step and update.

[2021-07-26 21:27] terencewtli commented on #182
Closing this because the `sam_pre_release` branch no longer exists.

[2021-07-26 21:27] #182 closed

[2021-07-26 21:27] terencewtli commented on #186
Hi @hchetia , any updates on the output from the previous step?

[2021-07-26 22:03] hchetia commented on #186
Hi @terencewtli I think that the file I shared must have been a bad sample. Sharing another files levels output here- looks weird still (only 9 Cs?)
cytosines:
  total_sites: 332900830
  sites_covered: 174
  total_c: 9
  total_t: 165
  max_depth: 1
  mutations: 0
  called_meth: 9
  called_unmeth: 165
  mean_agg: 9
  coverage: 174
  sites_covered_fraction: 5.22678e-07
  mean_depth: 5.22678e-07
  me

[2021-07-26 23:09] terencewtli commented on #186
I see, that is strange. I'm happy to help, you can open another issue and we can look at it there. Closing this for now as I believe that this error only occurs on spurious input.

[2021-07-27 03:29] hchetia commented on #186
Hi @terencewtli running hmr on this dataset keeps running without generating any output or even log of any sort.
Apparently the program has been using my computational resources for ~5 hrs.
![image](https://user-images.githubusercontent.com/64626735/127089146-5e40be5e-698a-4fc0-b1b0-065b0021e837.png)
You have seen the levels report of this particular sample above. This is a mouse BSseq sample. Out

[2021-07-27 03:44] terencewtli commented on #186
@hchetia did you say you aligned the mouse sample with a bisulfite-converted genome (3 letters) ? I think that is the reason that there are so few covered sites. In methcounts and bsrate, we want users to use the original genome fasta file.

[2021-07-27 03:53] hchetia commented on #186
Hi Terence,
That is definitely news to me. I was following your manual where it states that
![image](https://user-images.githubusercontent.com/64626735/127092360-30ffeb87-8637-4f36-ba1b-576216e9a03c.png)

So going back to using Bismark for alignment, it always converts the normal genome fasta file to a Bisulfite Genome folder with CT and GA conversion subfolders with bt2 indexes. This folder is th

[2021-07-27 05:26] terencewtli commented on #186
I think bismark produces a `Bisulfite_Genome` folder that contains the converted genome fasta files. Our pipeline only requires the original genome fasta. In terms of the part of the manual you pasted here, we require the `format_reads` because there are differences in the SAM formatting from each of the mentioned mappers. You can try the following command to convert bismark SAM output to the prop

[2021-07-28 03:50] hchetia commented on #186
Hi @terencewtli
I did use the original mm10.fa and not any converted Bisulfite fasta file.
However, I did convert use samtools to convert bismark.bam to sam and then use it with format reads using the same command that you suggested above. Could that be the culprit?

What are your thoughts on this (see below)? Should I kill the job?

[2021-07-28 08:29] BenvanderVeer opened #188 "problem with installing methpipe on HPC server"
Hi there,

I tried to install methpipe on a high performance clomputing (HPC) server. Because I am not the administrator, I cannot install the software system wide. I installed both the zlib library and HTSlib using conda. I run the configuration script to install it "in some reasonable place".

When I try to run make, I get this error:

[code]

What am I doing wrong?

best, Ben

[2021-07-28 16:23] terencewtli commented on #188
Hi,

I believe this error has to do with your compiler being too old. Can you try using GCC 5.8 or newer?

[2021-07-28 16:28] terencewtli commented on #186
I see, I don't think that should be the issue. Once again, can you verify the coverage and methylation levels of your input using our `levels` program?

For your second point, yes, you should kill the job. Our HMR program shouldn't take that long to run. Can you try running the program with the verbose flag `-v` and seeing what happens?

[2021-07-28 16:29] andrewdavidsmith commented on #188
I’m sure our documentation says we don’t do gcc4.8. If not, we’ll fix it. No hpc should have that as default for their users these days. You could install your own compiler, or tell your sys admin they are a decade behind. I’d do the latter. Our software needs the 2011 standard for c++.

[2021-07-28 17:13] BenvanderVeer commented on #188
Hi! I managed to get it working!

I am fairly new to installing software where I need to compile it myself, so I couldn't figure out whatsoever what the error message was trying to tell me.

Thanks for the input, and I apologize for asking questions that are actually too obvious!

best, Ben

[2021-07-28 17:13] #188 closed

[2021-07-28 17:47] andrewdavidsmith commented on #188
@BenvanderVeer can you indicate (for others) which approach allowed you to get it working so quickly? Was another compiler already on the system? Did you have some quick way to get one? Or just build a new compiler from source in your user space and set all env variables?

[2021-07-29 08:49] BenvanderVeer commented on #188
On my system (VSC, the Vlaamse Super Computer), there were many different compilers installed, I just needed to load the module with the correct one. The gcc4.8 compiler was the default one.

I used the Gnu Scientific library and the GCC 6.4.0, with the command below, which did the job. (Offcourse this will be different for every system).

`
$ module load GSL/2.4-GCCcore-6.4.0
`

best, Ben

[2021-08-03 07:11] PhrenoVermouth commented on #164
Hi Andrew, my configure seems fine but got stuck on the make step (really a disaster). I'm using the devtoolset in CentOS to switch to GCC7, which was shown below:

[code]
and for other Required libraries I used yum to install properly:
[code]
My error seems related to Htslib? I'm really bewildered:
[code]
Sincerely appreciated!

[config.log](https://github.com/smithlabcode/methpipe/files/6922005/

[2021-08-03 15:00] hchetia commented on #186
I will update you today.

[2021-08-03 15:32] hchetia commented on #186
cytosines:
  total_sites: 332900830
  sites_covered: 174
  total_c: 9
  total_t: 165
  max_depth: 1
  mutations: 0
  called_meth: 9
  called_unmeth: 165
  mean_agg: 9
  coverage: 174
  sites_covered_fraction: 5.22678e-07
  mean_depth: 5.22678e-07
  mean_depth_covered: 1
  mean_meth: 0.051724
  mean_meth_weighted: 0.051724
  fractional_meth: 0.051724
cpg:
  total_sites: 13572216
  sites_covered: 6

[2021-08-03 15:35] hchetia commented on #186
Sharing Cytosine levels from other datasets too.

cytosines:
  total_sites: 749796575
  sites_covered: 338
  total_c: 8
  total_t: 330
  max_depth: 1
  mutations: 1
  called_meth: 8
  called_unmeth: 330
  mean_agg: 8
  coverage: 338
  sites_covered_fraction: 4.50789e-07
  mean_depth: 4.50789e-07
  mean_depth_covered: 1
  mean_meth: 0.023669
  mean_meth_weighted: 0.023669
  fractional_meth: 0.02366

[2021-08-03 15:37] hchetia commented on #186
The Cytosine sites covered are ranging from 87-338 in these samples- which is very few right?
@terencewtli @andrewdavidsmith

[2021-08-03 16:56] terencewtli commented on #186
Right, the coverage is very, very low. I still believe that something went wrong when generating the methcounts file. Could you show the statistics from the bismark methylation statistics?

[2021-08-03 17:03] andrewdavidsmith commented on #186
Probably not here though

[2021-08-03 18:56] hchetia commented on #186
For this sample, bismark meth stats is as follows-

Final Cytosine Methylation Report
=================================
Total number of C's analysed:   1803434171

Total methylated C's in CpG context:    53739952
Total methylated C's in CHG context:    2092466
Total methylated C's in CHH context:    6926063

Total C to T conversions in CpG context:        18225296
Total C to T conversions in CHG c

[2021-08-03 19:00] andrewdavidsmith commented on #186
@hchetia Someone will reach out to you about this. Recent posts in this issue have not been about the topic of the issue, and these also are not things we can tie to any aspect of the software. I am closing this issue. Again, we will help you directly with potentially confusing results. If you notice anything that suggests a particular part of the methpipe software is not working, please create a

[2021-08-03 19:00] #186 closed

[2021-08-03 19:06] hchetia commented on #186
Okay! We were trying to reach to the root of this issue which might have stemmed from conversion to methpipe format.  My email is hchetia@rockefeller.edu
Thanks.

[2021-09-01 16:19] Hannah1746 opened #189 "Install fatal error: gsl/gsl_sf_psi.h: No such file or directory"
I am currently trying to install methpipe on to a ubuntu 16 computer that has both Zlib and HTSlib installed. When I try to make in the build directory I get this error:
(base) computer@lab:~/Documents/apps/methpipe-4.1.1/build$ make
make  all-recursive
make[1]: Entering directory '/home/lab/Documents/apps/methpipe-4.1.1/build'
Making all in src/smithlab_cpp
make[2]: Entering directory '/home/lab/

[2021-09-01 19:06] guilhermesena1 commented on #189
Hi Hannah,

Seems like you don't have the GNU scientific library installed (GSL). Could you try the command below and seeing if this fixes the problem?

[code]

Let us know!

[2021-09-01 20:21] Hannah1746 commented on #189
I tried that and I get:
(base) computerb@lab:~/Documents/apps/methpipe-4.1.1/build$ sudo apt install libgsl-dev
Reading package lists... Done
Building dependency tree
Reading state information... Done
libgsl-dev is already the newest version (2.1+dfsg-2).
0 upgraded, 0 newly installed, 0 to remove and 43 not upgraded.

(base) computer@lab:~/Documents/apps/methpipe-4.1.1/build$ make
make  all-recur

[2021-09-01 21:45] guilhermesena1 commented on #189
hm...this means that either you are not looking for the libs/includes in the standard linux directories (i.e. `/usr/include` and `/usr/local/include`). Do you see a `gsl` directory under either of these directories?

It may also be the case that you ran `../configure` and set up lib/include directories that were not updated once you reran make, so I would try a fresh rebuild of everything:

[code]

[2021-09-02 15:52] Hannah1746 commented on #189
So gsl is in the /usr/include directory. I download the methpipe 5.0.0 and now I am having troubles running the ../configure. When I do I get this error:
(base) lab@lab-VAA:~/Documents/apps/methpipe-5.0.0/build$ ../configure
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
/bin/bash: /home/lab/Documents/apps/methpipe-5.0.0/build/missing

[2021-09-02 16:43] andrewdavidsmith commented on #189
This tells us that if you have installed `HTSLib`, then it has been installed in a non-standard location, relative to your compiler. I see `anaconda3` among these messages. That's usually an indication that problems will arise eventually. But you should be able to overcome such issues (in the short run) by using he `LDFLAGS` and `CPPFLAGS` to indicate where `HTSLib` has been installed.

[2021-09-02 18:08] guilhermesena1 commented on #189
maybe it can be as simple as
[code]

[2021-09-02 18:40] Hannah1746 commented on #189
I try the sudo apt install libhts-dev but then when I run  ../configure I get the same error again. I am a little confused about the flags andrew suggested. Where would I be using these flags? when I run  ../configure?

[2021-09-02 18:44] andrewdavidsmith commented on #189
These are indicated below step 4 in the `README.md` that I think is released with ver. 5.0.0. But the explanation is there on the front page of GitHub for methpipe. Let us know if you can't find it.

[2021-09-02 20:56] guilhermesena1 commented on #189
if your default library and include path are pointed to conda this may solve it
[code]

[2021-09-07 12:07] shashwatsahay commented on #179
Hey @andrewdavidsmith

do you have updates if this was fixed? Also, could you let us know what exactly is the problem

[2021-09-09 18:30] andrewdavidsmith commented on #179
@shashwatsahay I can't give you a time for a fix, unfortunately, but thanks for the reminder. I can tell you that the problem comes from an inability of the program to find a "good" bin size, which only happens for data sets with high variance in coverage, and generally low coverage. I was able to run the program on several "typical" data sets in the public domain, for mammalian methylomes with PM

[2021-09-18 00:32] moqri commented on #189
I am having exactly same problems:
gsl/gsl_sf_psi.h: No such file or directory for version 4 (while gsl is installed)
and
Failed to locate HTSLib on your system. Please use the LDFLAGS and
CPPFLAGS variables to specify the directories where the HTSLib library
and headers can be found. (while I point to my htslib lib and header from my conda)

Could you please check and help!

[2021-09-20 16:17] Hannah1746 commented on #189
Hey moqri,

It seems that it is more a problem with htslib lib install than this program. Our lab is still working on trying to find out how to get it to install correctly. I will let you know when we have made any progress.

[2021-09-22 23:08] andrewdavidsmith commented on #189
@moqri can you paste in your precise error message and on which steps? I see two error messages, but I'm not sure at which stage during the installation they appeared. @Hannah1746 I can try to help a bit more on this -- I might not be able to solve the problem, but we are now tied to htslib, so I'll try to help.

[2021-09-22 23:14] andrewdavidsmith commented on #179
@shashwatsahay Would it be possible for you to check if some test sample can work for another chromosome? For example, if the first and last 10000 cogs on chr21 can lead to good results? Using the test data you provided, and hacking the code a bit so it doesn't crash, I don't get output because there simply shouldn't be any. So it's a bit tough for me to know if I'm fixing the problem.

[2021-10-03 19:08] andrewdavidsmith commented on #161
@guilhermesena1 has this issue been addressed in a subsequent version?

[2021-10-03 19:30] guilhermesena1 commented on #161
yes I removed the rdbuf line on every class and every program which solved the problem on methpipe 5.0.0

[2021-10-04 14:41] BenvanderVeer opened #190 "average 5hmC and true 5mC level in regions of interest?"
Dear Methpipe Authors,

I have both oxBS and BS data and I estimated 5hmC and true 5mC levels using the MLML program.

I was wondering what the best way would be to calculate the 5hmC and 5mC levels over specific regions of interest (e.g. LINE elements, or promotors)? Should this be a weighted average by taking the total coverage of both oxBS + BS for each individual CpG, or average the methylatio

[2021-10-04 19:24] andrewdavidsmith commented on #190
@BenvanderVeer I'm very happy to answer this question -- or at least give my personal opinion on it. But since this is somewhat outside technical details of the software development, it would be best if you contacted me directly by email.

[2021-10-05 16:17] BenvanderVeer commented on #190
Thank you, I send an email this morning!

[2021-10-05 16:17] #190 closed

[2021-10-17 17:23] andrewdavidsmith opened #191 "Documentation for fast-liftover tool"
Right now the documentation seems totally invalid as the file format described in the manual is not the one accepted by the program.

[2021-10-27 16:23] Hannah1746 opened #192 "Using Nanopore data"
So I am trying to use this great pipeline on my Nanopore data. I finally got all the programs to install and work together. I am now having troubles with getting the data in the right format to use methpipe. My problem is with the program abismal:

https://github.com/smithlabcode/abismal/issues/5

I wanted see if there is another way of getting my data into the right format without using abismal s

[2021-10-27 17:05] avkermanov opened #193 "Install fatal error: gsl/gsl_sf_psi.h"
As the similar issue was closed, I will open it here with the requested error code:

make[1]: Entering directory '/home/akermanov/Packages/methpipe-4.1.1'
Making all in src/smithlab_cpp
make[2]: Entering directory '/home/akermanov/Packages/methpipe-4.1.1/src/smithlab_cpp'
make  all-am
make[3]: Entering directory '/home/akermanov/Packages/methpipe-4.1.1/src/smithlab_cpp'
make[3]: Leaving directory

[2021-10-30 01:02] avkermanov commented on #193
Hi,

Thank you for suggestions. I have no sudo access on server, things are a bit tricky. I installed tools you noticed in a different folder and changed the PATH but it did not help. But installation of 5.0 version of methpipe ran smoothly. The only problem that I needed .mr files, as I designed scripts for them, but maybe it will be easier to modify my scripts then trying to force 4.1.1. version

[2021-11-02 17:06] terencewtli commented on #193
Hi,

I see, let me check the methpipe 4.1.1 installation. The error you are running into is the one you posted in the original comment?

On my server, I created a `/usr/local/` directory somewhere and copied all of the files from the `gsl` and `htslib` installation files into the include/lib directories. And then put the following in my `~/.bashrc`:
[code]
Then I run
[code]
This is a bit of a comp

[2021-11-02 17:08] terencewtli commented on #192
Hi,

Is your current data in fastq format?

[2021-11-08 14:50] simiro opened #194 "Installation issue htslib/sam.h"
Hi,
I've been trying to install methpipe on our hpc.
I have installed both GSL and HTSLIB.

I set prefix, LDFLAGS and CPPFLAGS during configuration and then `make` fives me the following error:

![image](https://user-images.githubusercontent.com/13441456/140762493-0b880a01-6582-44a9-81de-a870725b6ac7.png)

The file (sam.h) does exist.

Any pointer on getting this to run are much appreciated :)

[2021-11-08 17:09] terencewtli commented on #194
Hi,

Could you show how you set LDFLAGS and CPPFLAGS and what's in those directories? As well as where you installed GSL and HTSLIB.

[2021-11-08 21:16] andrewdavidsmith commented on #194
@simiro can you indicate which release you are using?

[2021-11-09 09:20] simiro commented on #194
Thank you for your response.
I am trying to install methpipe version 5.0.

htslib is version 1.14
gsl is version 2.7

CPPFLAGS='-I/psycl/u/siro/.local/include/' LDFLAGS='-L/psycl/u/siro/.local/lib/'

I've started over, installed gsl outside of anaconda, removed and reinstalled htslib. This has changed my error during the `make` step.

The error I get when trying to "make" methpipe 5.0 is as follow

[2021-11-09 15:10] #194 closed

[2021-11-11 22:24] cb4github opened #195 "hmr fails on sorted CpG's"
Dear All,

Using methpipe version 5.0.0, I'm getting the following result from hmr.

[code]
I've tried explicitly sorting the CpG's output from symmetric-cpgs with the same result.
[code]
[code]
Please advise, thanks.
Best,
CB

[2021-11-12 05:12] guilhermesena1 commented on #195
Hello,

Thank you for sharing the error. We are working on relaxing the condition that chromosome names need to be sorted alphabetically.

That said, can you try sorting it as follows and see if it fixes the issue? Thank you!

[code]

[2021-11-12 17:25] cb4github commented on #195
Dear @guilhermesena1,

Many thanks for your prompt reply. The hmr ran to completion with alphabetically sorted chromosomes.

For future benefit, it would help to update the [manual ](http://smithlabresearch.org/downloads/methpipe-manual.pdf) - dated July 26, 2021 at this typing - accordingly, thanks.

Best,
CB

[2021-11-12 17:25] #195 closed

[2021-12-09 04:29] moqri commented on #189
Thanks @andrewdavidsmith , I am getting the error when running the config command:
-bash-4.2$ ./configure
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /usr/bin/mkdir -p
checking for gawk... gawk
checking whether make sets $(MAKE)... yes
checking whether make supports nested variables... yes
che

[2021-12-09 22:09] moqri commented on #189
Thanks to the personal communication with Dr. Smith, this issue is resolved for me

Dr. Smith: "I personally set things up without sudo. The issues are (1) HTSLib, and (2) GSL. Both of those can be installed by you, but GSL should be already installed, although some sys admins in science just don’t understand such things…

Installing GSL with a `configure; make; make install` is relatively easy. T

[2021-12-14 14:32] Blosberg opened #196 "bigWig_to_methcounts --missing file or installation step."
Thanks for providing this software.
After unpacking and configuring methpipe-[version].tar.gz I reached the point in [the manual](https://github.com/smithlabcode/methpipe/blob/master/docs/methpipe-manual.pdf) advising me to convert  bigwig files to methcounts file format using `bigWig_to_methcounts.py` in the folder `METHPIPE_ROOT/src/utils with the name` --unfortunately I could not find this file

[2021-12-14 17:43] andrewdavidsmith commented on #196
@Blosberg I’ll try to make sure the docs and release are properly synchronized. In the meantime, if you can give an indication of what you’re trying to do I might be able to help sooner. I recall there were reasons in the past why it wasnt a good idea to make that file conversion.

[2021-12-14 18:27] Blosberg commented on #196
Thanks Andrew,
Ultimately what I want to do is annotate pmds with the pmd function, but in order to do that, I want to make sure my data is properly formatted into the right columns as per the `.meth` format (I was starting with some bigwig files that knew well to try and see how things were converted, with the final step being `symmetric-cpgs -o human_esc_CpG.meth human_esc.meth` -the vignette do

[2021-12-14 20:36] mengzhou commented on #196
Hi @Blosberg , this script is a wrapper of `bigWigToBedgraph` belonging to UCSC kentUtils. To run it you will need python 2.x and `bigWigToBedgraph` installed in your system.  From the error message you provided I think you will be able to run it using python 2. Since this script was created a long time ago, I'm not sure if its output is still compatible with the current Methpipe release.

[2021-12-14 21:09] Blosberg commented on #196
Hi @mengzhou
Thanks very much. Using python 2 I was able to convert the files I knew and inspect the full process. I guess my real question was about the format of .meth files (sorry if my question was a bit of an XY problem). I can see the pmds output now and understand how they were calculated. Thanks for your help!

[2021-12-14 21:09] #196 closed

[2022-01-11 03:04] vanessayang0927 opened #197 "NULL lines contained in .mr file which transformed from bam file"
Hi,
I installed version 4.1.1 successfully and prepared to computer methylation entropy. When I used "to-mr" command for transforming bam file to .mr file, it run without error and wrote a .mr file contained many NULL line. However I get the error information "bad line in MappedRead file: (NULL)	0	0	X	0	+	" in the next analysis (methstates).

error read information in bam file:
DP800003707TRL1C042

[2022-01-12 01:17] guilhermesena1 commented on #197
Hello,

Thank you for reaching out about the problem. This issue was fixed on methpipe 5.0.0 (along with several other improvements in the pipeline). Would you be able to analyze your data with that instead? You would not need to use `to-mr` and can instead directly use the output of the mapper you are currently using.

[2022-01-17 09:40] vanessayang0927 commented on #197
Thank you for your reply. I  installed version 5.0.0 successfully and run without error. However, the entropu values of all CpG site were negative. Was this result normal?

[2022-01-24 07:49] kyliuae opened #198 "roimethstat seems not be able to identify overlapping region"
Hi Methpipe team,

I'm David, a PhD student and i am working on calculating the methylation in the PMD regions and the flanking area. Basically, i chop the PMDs and the extended regions into smaller bins and calculate the average methylation level. However, for some regions, the coordinates seem to overlap (e.g. the end coordinate surpass the start coordinate of the next region). No matter how i s

[2022-01-24 20:10] mengzhou commented on #198
Please try the `-L` option of `roimethstat` if you have overlapping regions. This option will make the program load all CpG sites of your input into memory first.

[2022-01-25 02:08] kyliuae commented on #198
Thanks. Unfortunately, i already tried -L option before, but the same error still exist.

Do i need to send you extra information for this? Thank you.

[2022-01-25 15:54] guilhermesena1 commented on #198
it may also be possible that your chroms are not sorted alphabetically using C locale. Have you tried sorting your BED file using the command below?
[code]

[2022-01-25 22:43] Akshaygala opened #199 "Segmentation fault (core dumped) while using bsrate"
I am trying to use bsrate function and am getting segmentation fault error. Here is the glimpse of my code:
"
INbam="${!SGE_TASK_ID}"
samtools view -H "${INbam/.bam/}".sam > "${INbam/.bam/}".headers.txt                                                    && \
awk -F "\t" '{if ($3=="MT") print}' "${INbam/.bam/}".sam > "${INbam/.bam/}".reads.sam                          && \
cat "${INbam/.bam/}".head

[2022-01-25 22:55] guilhermesena1 commented on #199
Hi,

Can you confirm which version of methpipe you are using?

[2022-01-25 22:56] Akshaygala commented on #199
I am using Methpipe-5.0.0

[2022-01-25 23:12] guilhermesena1 commented on #199
oh I see in your command that you seem to be passing a SAM file as the reference? The `-c` option should be the same FASTA file you used to map your reads or, alternatively, just chrM since you are extracting only the reads that map to that chrom (either should work)

[2022-01-25 23:21] Akshaygala commented on #199
Yes. For the -c option, I am passing the sam file which contains chromosome M reads including header. It is the same file that I have attached in my first post.

[2022-01-25 23:47] guilhermesena1 commented on #199
right, so I think the order of parameters is switched in your command. The attached file should be the last argument (which in the command you posted is given by `"${INbam/.bam/}".sam`). I think this is your whole reads file? If it is, then you don't need it to estimate bsrate based on chrM.

There are two ways to run bsrate, (1) one is based on the Cs that map to non-CpGs in the whole reference g

[2022-01-26 00:42] Akshaygala commented on #199
@guilhermesena1 Ohh Snap.. I misinterpreted the syntax. Thank you for the correction. It works (y)

Akshay

[2022-01-26 01:29] vanessayang0927 opened #200 "the entropy values of all CpG sites were negative"
I installed version 5.0.0 successfully and run without error. However, the entropy values of all CpG sites were negative. Was this normal?

[2022-01-26 09:40] kyliuae commented on #198
Thank you for the comment. But i did try your suggestion, but the error still exist 🥲.  I'm pretty sure my xxx.meth file has no problem since i can run roimethstat for the regions without this overlapping issue so the problem just remain in region file i guess.

Do i need to send you extra information for this? Thank you so much for the help again.

[2022-02-06 17:54] moqri opened #201 "optimizing pipeline (especially speed)"
Thanks for creating this great tool and keep maintaining it!

Below is my pipeline get from fastq to methcount. Any suggestion on ways to improve this (especially on optimizing speed)? I have a 48-core with 120 GB memory.

[code]

[2022-02-06 21:39] guilhermesena1 commented on #201
I think this is currently as fast as it gets speed-wise. After abismal every tool is IO-bound, so most of the time is spent reading and writing intermediate files for processing. I should point out that `format_reads` and `duplicate-remover` are able to print results to stdout, so you can continue working with BAM files by piping to `samtools view -b` like you did in `abismal` and `samtools sort`.

[2022-02-07 01:58] moqri commented on #201
Thanks, Gui, I'll keep working on it and will update here if I found ways to make it faster

[2022-02-09 21:23] vagan21 opened #202 "format_reads and mapping"
Hello,
I created mapped reads in a sam file format using abismal with paired-end reads as input. Do we need to run the format_reads function on these sam files before proceeding to duplicate_remover? I'm a little confused about what is happening at the format_reads step, as it sounds like the merging of paired-end entries into single-end entries happens with abismal with paired-end reads as input.

[2022-02-09 22:53] guilhermesena1 commented on #202
Hello,

Thank you for reaching out about the question. The `format_reads` step is necessary before running `duplicate_remover`. The pupose of this step is to merge entries for paired-end reads and also put all reads in a T-rich orientation.

When abismal produces the output, the paired-end reads are still in two separate entries, one for each read. The SAM fields `rnext` and `pnext` are used to in

[2022-02-09 23:43] vagan21 opened #203 "MAPQ filtering"
Hello,
Is there a step in abismal where reads that don't meet a certain MAPQ threshold are filtered out? I am wondering if I need to run a `samtools view -q 30` (for example, I've used 30 with RNA_seq) on my sam files before proceeding to do samtools sort, and then format_reads. Hope that makes sense.
Verda

[2022-02-15 16:17] Mazklaus opened #204 "radmeth adjust - "Core Dumped""
Hello,

I am working with methpipe for processing Whole Genome Bisulfite Sequencing data. Since, the mapping and methylation extraction is handle in my lab by other means I planned to only use the radmeth part to process a differential analysis of our samples.

I followed the methpipe documentation, using first the `merge-methcounts ALL_MY_FILES > proportion_table.txt` to generate the proportion t

[2022-02-18 03:05] weishwu opened #205 "Segmentation fault from allelicmeth"
I got a "Segmentation fault" error by running allelicmeth:
`allelicmeth -c hg38/chrs_split/ -o sample_2.allelic sample_2.epiread`
I checked the output. After about the 32,000,000th line, it kept writing:
`chr1	0	+	CpG`
which I think overloaded the memory.

[2022-02-21 12:21] abcoxyzide commented on #179
Hi I just want to chip in.

Had problem specifically with chr22 too. Was using version 4.1.1

Solved with version 5.0.1; though I have to say compiling it was not easy!

[2022-04-05 16:26] hchetia opened #206 "5mC and 5hmC tracks"
Hi @andrewdavidsmith @terencewtli
I have BS (5mC+5hmC) and OXBS (true 5mCs) samples. I have used the MLML program to estimate the hydroxymethylation.
Is there a way to save the 5mC and 5hmC CpGs separately for viewing in IGV?

[2022-04-14 15:37] #206 closed

[2022-04-25 20:16] vagan21 opened #207 "Using radmeth to call DMRs"
Hello,

I have a question in regards to calling DMRs if you have replicates.

I have WGBS data from two beta-cell populations. Let's call them B1 and B2. I have 2 replicates for each population. These replicates, while they consist of the same cell type, were derived from different mice: one from a male mouse, and another from a female. So I have a B1 population derived from a female mouse, and a

[2022-05-06 12:36] jpospelova opened #208 "hmr - Segmentation fault (core dumped)"
After merging two metylomes with `merge-methcounts` command, the `hmr` command writes out the Segmentation error, can't handle `hmr -o 1_2_knockdown.symmetric_CpGs.sorted.hmr 1_2_knockdown.symmetric_CpGs.sorted.meth`

Without merging on each file it works fine.

[2022-05-06 23:36] ctsa opened #209 "Getting started with amrtester"
I'm having trouble getting a first test run working with `amrtester`. I'm working on GRCh38. I have a bed file of test regions and a bam produced by bwa-meth. I am having trouble setting the required `-chrom` argument correctly. So far I've tried submitting the reference fasta, the fai, the output from `fetchChromSizes hg38`, and just the string 'hg38', but the output I get in all cases is the fol

[2022-05-09 23:15] #209 closed

[2022-05-11 11:02] ShixiangWang opened #210 "Install failure, any suggestion?"
Dear developers,

I encounter errors and don't know how to fix, could you provide some suggestions?

[code]

[2022-05-13 00:33] guilhermesena1 commented on #210
Looks like a problem with zlib linkage. Can you specify which OS you are trying to install on, whether you are using a clone/release/etc, and which commands you used to run? thank you!

[2022-05-13 02:27] ShixiangWang commented on #210
@guilhermesena1 Thanks for your response.

I tried installing it on Cent OS7, to build the software, I installed the gcc, g++, zlib, htslib and gsl from conda-forge/bioconda. The strange thing is the make process indicates it bypass the zlib check but failed to find objects shown above.

Currently, I build a conda recipe (<https://github.com/bioconda/bioconda-recipes/pull/34846>) to auto-compile t

[2022-05-13 02:27] #210 closed

[2022-06-02 18:48] guilhermesena1 commented on #192
Closing because (1) this was discussed in the abismal repo and (2) inactivity, but feel free to reopen if this issue resurfaces

[2022-06-02 18:48] #192 closed

[2022-06-02 18:50] guilhermesena1 commented on #176
closing due to inactivity but please feel free to reopen if you are still having the problem!

[2022-06-02 18:50] #176 closed

[2022-06-02 18:52] #193 closed

[2022-06-02 18:53] guilhermesena1 commented on #197
Closing this to discuss on another issue. If there are still problems with the 5.0.0 version conversion this issue can be re-opened and we can discuss here.

[2022-06-02 18:53] #197 closed

[2022-06-02 18:55] guilhermesena1 commented on #202
Closing due to inactivity but if the problem persists feel free to re-open!

[2022-06-02 18:55] #202 closed

[2022-06-02 19:10] guilhermesena1 commented on #178
Closing due to inactivity but feel free to reopen if the issue persists!

[2022-06-02 19:10] #178 closed

[2022-06-02 22:50] guilhermesena1 commented on #208
Hey,

So sorry for the late replay, but just to confirm: Did you run `symmetric-cpgs` on your `meth` file before running HMR? It may have to do with trying to load too many cytosines from a chromosome if it's not just the CpGs.

[2022-06-02 22:52] guilhermesena1 commented on #207
Hey,

so your design matrix should look something like this
[code]

and your radmeth call should be
[code]

this should remove DM CpGs that are sex-dependent.

[2022-06-02 23:55] guilhermesena1 commented on #205
Hello,

We apologize for the late reply. If you're still having the issue and still have the .epiread file available, would you be able to share it with us so we can try to reproduce the problem?

[2022-06-03 00:00] guilhermesena1 commented on #203
Hello,

Abismal doesn't report a MAPQ value for reads, so no filtering is necessary. The definitionof MAPQ is somewhat arbitrary between mappers, so 30 in one mapper doesn't necessarily mean the same as 30 in another.

For abismal, reads that map uniquely are already, by definition, more likely to map to its reported location than anywhere else in the genome. Ambiguous reads that map to two differ

[2022-06-03 00:40] guilhermesena1 commented on #204
Hello,

If you're still having the issue, would you be able to either share the `cpgs.bed` file or the smallest file on which the issue still occurs? From the error message itself it's hard to tell if it's a code problem or a resource problem, but we definitely should be providing a more informative error message.

[2022-06-03 00:43] guilhermesena1 commented on #165
Hi,

I'm really sorry we never reached out with the answer, but if it's at all helpful,

The way to handle categorical variables in radmeth is to create a binary column for all possible values of the categorical variable. For instance, if have a treatment that takes three values, create three columns called `used_treatment_0`, `used_treatment_1` and `used_treatment-2`, where the value is 1 for the

[2022-06-03 02:02] guilhermesena1 commented on #200
this seems like a numerical issue. We'll look into the code but if you can share a small dataset in which the output returns negative values it would be super helpful for debugging.

We likely need to add ``return max(prob, 0.0)` on `compute_prob_read_has_state` to avoid these numerical problems.

[2022-06-03 02:39] guilhermesena1 opened #212 "methstates doesn't read FASTA files with multiple chromosomes"
when `methstates` takes a FASTA file as the `-c` argument, instead of a directory, it only reads the first chromosome.

[2022-06-03 03:16] guilhermesena1 commented on #212
Fixed at 2e137ee . Tested the same FASTA file with all chroms in the same file and a directory of chroms and the outputs are identical.

[2022-06-03 03:16] #212 closed

[2022-06-03 05:00] guilhermesena1 commented on #198
So I tried to reproduce with the following BED file:
[code]

and running
[code]

(I also tried with the `-L` flag), and the program runs to completion, showing all 8 fields:

[code]

I tried both with methpipe 4.1.1 and 5.0.0.
I agree that our error reports aren't very helpful since they don't print which pair of regions are causing the error for not being sorted (and we'll work on more informativ

[2022-06-03 11:38] jpospelova commented on #208
Yes, I've run `symmetric-cpgs`

[2022-06-03 19:22] guilhermesena1 commented on #208
hm that's strange and definitely shouldn't be happening.

"Segmentation fault" possibly indicates a bug in the code, but just to confirm, which OS are you running on and how much RAM is available on it? The HMR code usually requires about 6 GB of RAM.

Also, what happens when you run `hmr` with the `-v` option on? Does the program print anything before it fails? Usually the verbose output should l

[2022-06-05 19:14] andrewdavidsmith opened #213 "Read name suffix length"
This should be learnable from the data based on, say, a few hundred thousand reads. It would involve opening the file for the check, learning the suffix length, then starting the current process.